/* line 1, ../sass/mobile.sass */
#cart-link .ui-icon-cart {
  background-image: url(../images/icons/80-shopping-cart.png);
  background-size: 18px 13px;
}

/* line 5, ../sass/mobile.sass */
#unit-closed, #min-span {
  color: indianred;
}
