{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Wheel of fortune' %}{% endblock %}
{% block description %}{% trans 'If you are undecided about what to eat today, here you can let the fate decide. Just spin the wheel an find out what the it was meant for you today.' %}{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(function(){
   $("#event").click(function(e){
      if($("#plate").hasClass("start")) {
          $("#plate").attr("class", "processing");
          $("#event").text("{% trans 'STOP' %}");
      } else if($("#plate").hasClass("processing")) {
          $("#selected_plate").show(); 
          $("#plate").attr("class", "generic");
          $("#event").text("{% trans 'RESTART' %}");
      } else if($("#plate").hasClass("generic")) {
          $("#plate").attr("class", "processing");
          $("#selected_plate").hide();
          $("#event").text("{% trans 'STOP' %}");
      }
   });
});
</script>
{% endblock %}

{% block content %}
<div class="content_area">
  <div class="title"><h1 class="light_green">{% trans 'Wheel of fortune' %}</h1></div><br>
  
  <div id="lucky_plate_text">
    <p>{% trans 'If you are undecided about what to eat today, here you can let the fate decide. Just spin the wheel an find out what the it was meant for you today.' %}</p>
    <p>{% trans 'Press the button once, let is spinn, press it again and set the table!' %}</p>
  </div>

  <div id="lucky_plate">
    <div id="plate" class="start"></div>
    <div id="control"><div id="event">{% trans 'START' %}</div></div>
    <div id="selected_plate" style="display:none">Pizza Margerita</div>
  </div>
  <div class="clear"></div>
</div>
{% endblock %}
