{% extends "base.html" %}
{% load i18n %}
{% load uni_form_tags %}

{% block style %}
<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni-form.css" type="text/css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/default.uni-form.css" type="text/css" />
{% endblock %}

{% block script-links %}
<script src="{{ MEDIA_URL }}uni_form/uni-form.jquery.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('.textinput').after('<div class="end"></div>');
	$('.passwordinput').after('<div class="end"></div>');	
});
</script>
{% endblock %}

{% block content %}
<div id="paginaregister">
	<div class="titlu">
    	RESET PAROLA
    </div>
{% if validlink %}
<form method="post" action=".">{% csrf_token %}
  {{ form|as_uni_form }}
  <input class="form_button" type="submit" value="{% trans 'Submit' %}" />
</form>
{% else %}
<p>{% trans 'Password reset failed' %}</p>
{% endif %}
<br/><br/>
</div>
{% endblock %}
