{% extends 'mobile.html' %}
{% load i18n %}

{% block page %}
<div data-role="page" id="home">
  <div data-role="header">
    <h1>{% trans 'Welcome to click2eat.ro' %}</h1>
  </div><!-- /header -->

  <div data-role="content"> 
    <center>
    <img src="{{ STATIC_URL }}images/template/logo.png">

    <p>Hello from mobile click2eat.ro!</p>
    <a href="{% url mobile:units %}" data-role="button">{% trans 'See all restaurants' %}</a>
    <a href="{% url mobile:search %}" data-role="button">{% trans 'Search' %}</a>
  <a href="{% url mobile:motd %}" data-role="button">{% trans 'Menu of the day' %}</a>
    </center>
  </div><!-- /content -->

  <div data-role="footer" class="ui-bar" data-position="inline" data-position="fixed">
    {% if user.is_authenticated %}
    <a href="{% url mobile:logout %}" class="ui-btn-right logout-button" data-icon="minus" title="Log Out of Your Account for Security"><span class="logout-wide">{% trans 'Logout' %}: </span>{{ user.username }}</a>
    {% else %}
    <a href="{% url mobile:login %}?next={% url mobile:home %}" class="ui-btn-right" data-icon="plus" title="Log In to Your Account">{% trans 'Login' %}</a>
    {% endif %}    
  </div><!-- /footer -->
</div><!-- /page -->
{% endblock %}
