{% extends 'page.html' %}
{% load i18n %}

{% block title %}{{ item.get_name }}{% endblock %}
{% block pagetitle %}{{ item.get_name }}{% endblock %}
{% block description %}{% trans 'Menu item details' %}{% endblock %}
{% block pageid %}detail{% endblock %}

{% block content %}
<h1>{{ item.get_name }}</h1>
<h2>{{ item.get_description|safe }} {{ item.quantity }}{{ item.get_measurement_unit_display }}</h2>
<h3>{{ item.get_price}}{% trans 'RON' %}</h3>
{% if item.has_promotion %}
<h4>{{ item.promotion }}</h4>
{% endif %}

<div id="toppings" style="{% if not show_toppings %}display:none{% endif %}">
{% if item.toppings %}
{% for topping in item.toppings.topping_set.iterator %}
<a class="top-shop-link" rel="external" topid="{{ topping.id }}" href="#" >{% trans 'Add extra' %} {{ topping.get_name }} {{topping.price }} {% trans 'RON' %}</a>
{% endfor %}
{% endif %}
</div>
<br />
<br />
<a id="shop-link" rel="external" href="{% url order:shop user.username item.get_id %}" data-role="button">{% trans 'Add to shopping cart' %}</a>
<script type="text/javascript">
$(function(){
  $("#shop-link").click(function(e){
    $.get($(this).attr("href"), function(data){
      $("#cart-count").text(data['total']);
      $("#toppings").fadeIn();
    });
    e.preventDefault();
  });
  $(".top-shop-link").click(function(e){
    $.get("/order/shop/{{ user.username }}/{{ item.id }}_" + $(this).attr("topid"), function(data){
      $("#cart-count").text(data['total']);
    });
    e.preventDefault();
  });
});
</script>
{% endblock %}
{% block footer %}
<a id="cart-link" style="float: right; margin-right:27px;" href="{% url mobile:shopping-cart unit_id %}" title="See your shoping cart">{% trans 'Cart total' %}: <span id="cart-count">{{ total }}</span>{% trans 'RON' %}</a>
{% endblock %}
