{% extends 'page.html' %}
{% load i18n %}

{% block title %}{{ item.get_name }}{% endblock %}
{% block pagetitle %}{{ item.get_name }}{% endblock %}
{% block description %}{% trans 'Menu item details' %}{% endblock %}
{% block pageid %}detail{% endblock %}

{% block content %}
    <h1>{{ item.get_name }}</h1>
    <h2>{{ item.get_description|safe }} {{ item.quantity }}{{ item.get_measurement_unit_display }}</h2>
    <h3>{% trans 'Price' %}: {{ item.get_price }}{% trans 'RON' %}</h3>
    {% if item.has_promotion %}
        <h4>{{ item.promotion }}</h4>
    {% endif %}

    <div id="toppings" style="display:none">
        {% if item.toppings %}
            <ul data-role="listview" data-inset="true">
                <h2>{% trans 'Toppings' %}</h2>
                {% for topping in item.toppings.topping_set.iterator %}
                    <li>
                        {{ topping.get_name }} ({{ item.quantity }}{{ item.get_measurement_unit_display }})
                        - {{ topping.price }} {% trans 'RON' %}
    <span class="ui-li-aside">
    <a class="top-shop-link" rel="external" topid="{{ topping.id }}" href="#">
        <img height="16px" src="{{ STATIC_URL }}images/plus.png" alt="plus"/>
    </a>
    </span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <br/>
    <br/>
    <a id="shop-link" rel="external" itemid="{{ item.get_id }}" href="#"
       data-role="button">{% trans 'Add to shopping cart' %}</a>

    <script type="text/javascript">
        $(function () {
            var args = null;
            $("#shop-link").click(function (e) {
                args = uid() + "!" + $(this).attr("itemid") + "-0";
                $.get("/mobile/shop/{{ unit_id }}/" + args + "/", function (data) {
                    $("#cart-count").text(data['total']);
                    $("#toppings").fadeIn();
                });
                e.preventDefault();
            });
            $(".top-shop-link").click(function (e) {
                $.get("/mobile/shop/{{ unit_id }}/" + args + "_" + $(this).attr("topid") + "/", function (data) {
                    $("#cart-count").text(data['total']);
                });
                e.preventDefault();
            });
        });
    </script>
{% endblock %}
{% block footer %}
    <a id="cart-link" style="float: right; margin-right:27px;" href="{% url mobile:shopping-cart unit_id %}"
       title="See your shoping cart">{% trans 'Cart total' %}: <span id="cart-count">{{ total }}</span>{% trans 'RON' %}
    </a>
{% endblock %}
