{% extends 'page.html' %}
{% load i18n %}

{% block title %}{{ unit.name }}{% endblock %}
{% block pagetitle %}{{ unit.name }}{% endblock %}
{% block description %}{% trans 'Menu for a specific restaurant' %}{% endblock %}
{% block pageid %}menu{% endblock %}

{% block content %}
{% for itemgroup in unit.itemgroup_set.iterator %}
            {% if itemgroup.active %}
            <h2>{{ itemgroup.name_def }}</h2>
            <ul data-role="listview" data-inset="true">
              {% for item in itemgroup.item_set.iterator %}
              {% if item.active %}
              <li><a href="{% url mobile:item-detail item.id %}">
              <h1>{{ item.name_def }}</h1>
              <span class="ui-li-aside">{{ item.get_price }}{% trans 'RON' %}</span>
              <p><b>{{ item.item_group.unit.name }}</b>: {{ item.description_def }}</p>
              <p style="display: none;">{{ item.tags.all.values_list|first }}</p>
              </li></a>
              {% endif %}
              {% endfor %}
            </ul>
            {% endif %}
{% endfor %}
{% endblock %}
{% block footer %}
<a id="cart-link" style="float: right; margin-right:27px;" href="{% url mobile:shopping-cart unit_id %}" title="See your shoping cart">{% trans 'Cart total' %}: <span id="cart-count">{{ count }}</span>{% trans 'RON' %}</a>
{% endblock %}