{% extends 'page.html' %}
{% load i18n %}

{% block title %}{% trans 'Search' %}{% endblock %}
{% block pagetitle %}{% trans 'Search' %}{% endblock %}
{% block description %}{% trans 'List of all menu items' %}{% endblock %}
{% block pageid %}search{% endblock %}

{% block content %}
<ul data-role="listview">
{% for item, count, total in order_items %}
<li>
<h1>{{item}}: {{ count }} x {{ item.get_price }}{% trans 'RON' %}</h1>
<span class="ui-li-aside">{{ total }}{% trans 'RON' %}</span>
</li>
{% endfor %}
<li>
<h1>{% trans 'Total' %}:</h1>
<span class="ui-li-aside">{{ total_sum }}{% trans 'RON' %}</span>
</li>
</ul>
<br/>
<a href="{% url mobile:order unit.id %}" data-role="button">{% trans 'CONFIRM ORDER' %}</a>
{% endblock %}