{% load i18n l10n %}

{% block content %}
    <ul id="items" data-role="listview" data-inset="true" data-count-theme="b">
        {% for cn, items in oc.get_carts.iteritems %}
            {% for item in items %}
                <li itemid="{{ item }}">
                    <h1>{{ item.get_name }}: <span class="item-count">{{ item.get_count }}</span> x <span
                            class="item-price">{{ item.get_price|unlocalize }}</span>{% trans 'RON' %}</h1>
    <span class="ui-li-aside">
    <a style="margin-right: 20px;" class="decr-link" rel="external"
       href="#" itemid={{ item.get_item_id }}><img src="{{ STATIC_URL }}images/minus.png"
                                                   alt="minus"/></a>
    <a style="margin-right: 20px;" class="incr-link" rel="external"
       href="#" itemid={{ item.get_item_id }}><img src="{{ STATIC_URL }}images/plus.png"
                                                   alt="plus"/></a>
    <span class="item-total"></span>{% trans 'RON' %}
    </span>
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
    <h1>{% trans 'Paycheck' %}:
        <span id="min-span">({% trans 'Minimum order: ' %}<span
                id="min-order">{{ unit.minimum_ord_val }}</span>{% trans 'RON' %}.)</span>
        <span id="order-total">{{ total }}</span>{% trans 'RON' %}
    </h1>
{% endblock %}
