{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Bonus history' %}{% endblock %}
{% block description %}{% trans 'Here you can check your bonus history, how you received and how you used your bnus points.' %}{% endblock %}

{% block content %}
<div class="content_area720">
	<div id="paginaregister">
		<div class="titlu">
			<h1>{% trans 'Bonus history' %}</h1>
		</div>
		<div id="establishment_list">
			<table id="daily_table">
				<tbody>
					<tr class="platinum">
						<th>{% trans 'RON' %}</th>						
						<th>{% trans 'Order' %}</th>						
					</tr>
					{% for bonus in object_list %}
					<tr>						
						<td class="align-center">{{ bonus.amount }}</td>						
						<td class="align-center">{{ bonus.order }} {% if LANGUAGE_CODE == 'ro' %}acum{% endif %} {{ bonus.order.creation_date|timesince }} {% if LANGUAGE_CODE == 'en' %}ago{% endif %} {% trans 'to' %} {{ bonus.order.user.get_full_name }}</td>						
					</tr>
					{% empty %}
					<tr>
						<td colspan="5">{% trans 'Sorry no bonuses yet.' %}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- establishment_list -->
		<div class="clear"></div>
	</div>
</div>
{% endblock %}