{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Bonus history' %}{% endblock %}
{% block description %}{% trans 'Here you can check your bonus history, how you received and how you used your bnus points.' %}{% endblock %}

{% block content %}
<div class="content_area">
  <div class="title"><h1 class="light_green">{% trans 'Bonus history' %}</h1></div><br>
<div id="establishment_list">
    <table id="daily_table">
      <tbody>
	<tr class="platinum">
          <th>{% trans 'Received date' %}</th>
          <th>{% trans 'Points' %}</th>
	  <th>{% trans 'Reason' %}</th>
	  <th>{% trans 'Used' %}</th>
          <th>{% trans 'Used date' %}</th>
	</tr>
	{% for bonus in object_list %}
        <tr>
        <td class="align-center">{{ bonus.received_date }}</td>
        <td class="align-center">{{ bonus.points }}</td>
        <td class="align-center">{{ bonus.get_reason_display }}</td>
        <td class="align-center">{{ bonus.used|yesno }}</td>
        <td class="align-center">{% if bonus.used %}{{ bonus.used_date }}{% else %}-{% endif %}</td>        
        </tr>
	{% empty %}
	<tr><td>{% trans 'Sorry no bonuses yet.' %}</td></tr>
	{% endfor %}
      </tbody>
    </table>
  </div> <!-- establishment_list -->
  
  <div class="clear"></div>
</div>
{% endblock %}