{% extends "base.html" %}
{% load i18n comments %}

{% block content %}
<ul id="blog">
{% for post in posts %}
	{% get_comment_count for post as comment_count %}
	<li>
		<a class="title" href="{% url blog_post post.published.year post.published.month post.published.day post.slug %}">{{ post.title }}</a>
		<div class="published">{{ post.published|date:"l, d F Y" }}</div>
		{{ post.teaser_html|safe }}
		<a class="seemore right" href="{% url blog_post post.published.year post.published.month post.published.day post.slug %}">{% trans 'read more...' %}</a>		
		<span class="views right">&nbsp;({{ post.view_count }} {% trans 'views' %})</span>
		<span class="comments right">&nbsp;({{ comment_count }} {% trans 'comments' %})</span>		
	</li>
{% endfor %}
</ul>
{% endblock %}
