{% extends "base.html" %}
{% load i18n %}

{% block style %}
<link href="{{ MEDIA_URL }}css/stars/jquery.ui.stars.min.css" rel="stylesheet" type="text/css" media="screen">
<style>
.rating_bar {
  width: 55px;
  background: url("{{ MEDIA_URL }}css/stars/star_x_grey.gif") 0 0 repeat-x;
}

.rating_bar div {
  height: 12px;
  background: url("{{ MEDIA_URL }}css/stars/star_x_orange.gif") 0 0 repeat-x;
}
</style>
{% endblock %}

{% block scripts %}
<script src="{{ MEDIA_URL }}js/jquery.timers.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/jquery.ui.stars.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function(){
        /*$("body").everyTime(1000*60,function(i) { //every 60 seconds
            console.log('tick');
        });*/
        $("#notrated-link").click(function(e){
           $("#notrated-orders").slideToggle();
           e.preventDefault();
        });
$(".time-stars").stars({
     inputType: "select"
 });
    });
</script>
{% endblock %}

{% block content %}
<div class="content_area">
  {% with user.get_profile.get_not_rated as order_list %}
  {% if order_list.exists %}
  <div class="general_button">
    <a id="notrated-link" href="#">{% trans 'You have not rated orders' %}</a>
  </div>
  <div class="clear"></div>
  <div id="notrated-orders" style="display:none">
    <p><b>{% trans 'Orders that still need your feedback' %}</b></p>
    <ul>
      {% for order in order_list %}
      <li><a href="{% url order:feedback order.id %}">{{ order }}</a></li>
    {% endfor %}
    </ul>
  </div>{% endif %}
  {% endwith %}
  <div class="title"><h1 class="light_green">{% trans 'Restaurants' %}</h1></div>
  <br>
  <div id="establishment_list">
    <table>
      <tbody>
	<tr class="platinum">
          <th>{% trans 'Unit' %}</th>
	  <th></th>
          <th>{% trans 'Quality' %}</th>
          <th>{% trans 'Delivery time' %}</th>
          <th>{% trans 'Comments' %}</th>
	</tr>
	{% for unit in units %}
	<tr class="{% cycle 'even' 'odd'%}">
          <td><a class="{{ unit.package.slug }}" href="{% url restaurant:detail unit.id %}">{{ unit }}</a></td>
	  <td class="align-center">
	    {% if not unit.schedule.is_open %}<img src="{{ MEDIA_URL }}images/template/icons/lock_icon.png" alt="{% trans 'Closed' %}" title="{% trans 'Closed' %}">{% endif %}
	    {% if unit.is_new %}<img src="{{ MEDIA_URL }}images/template/icons/star_icon.png" alt="{% trans 'New' %}" title="{% trans 'New' %}">{% endif %}
	    {% if unit.has_promotion %}<img src="{{ MEDIA_URL }}images/template/icons/money_icon.png" alt="{% trans 'Has discount' %}" title="{% trans 'Has discount' %}">{% endif %}
	  </td>
	  <td><div class="rating_bar"><div style="width:{{ unit.get_avg_quality }}%"></div></div></td>
	  <td><div class="rating_bar"><div style="width:{{ unit.get_avg_speed }}%"></div></div></td>
          <td class="align-center"><a class="{{ unit.package.slug }}" href="{% url restaurant:comments unit.id %}">{% trans 'Comments' %} ({{ unit.comment_count }})</a></td>
	</tr>
      {% endfor %}
      </tbody>
    </table>
  </div> <!-- establishment_list -->
</div> <!-- content_area -->
{% endblock %}
