{% extends "base.html" %}
{% load i18n %}

{% block scripts %}
  <script src="{{ MEDIA_URL }}js/jquery.timers.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(function(){
      $("#platinum_units").everyTime(1000*10,function(i) { //every 10 seconds
          $(this).html(i);
        });
    })
  </script>
{% endblock %}

{% block content %}
<div id="platinum_units">
  <h3>Platinum</h3>
{% include 'restaurant/platinum_restaurant_list.html' %}
</div>
<div id="gold_units">
  <h3>Gold</h3>
{% include 'restaurant/gold_restaurant_list.html' %}
</div>
<div id="silver_units">
  <h3>Silver</h3>
{% include 'restaurant/silver_restaurant_list.html' %}
</div>
{% endblock %}
