{% extends "base.html" %}
{% load i18n %}

{% block title %}Invoice for {{unit}}{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>Order</th><th>Sum</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders.iterator %}
    <tr>
      <td><!--a href="{% url order:detail order.id %}"-->{{ order }} {% if LANGUAGE_CODE == 'ro' %}acum{% endif %} {{ order.creation_date|timesince }} {% if LANGUAGE_CODE == 'en' %}ago{% endif %}</td><td>{{ order.total_amount }}</td>
    </tr>
    {% empty %}
    <tr><td>{% trans 'Sorry, no orders for this restaurant' %}.</td><td>0</td></tr>
    {% endfor %}
    <tr>
      <td></td><td><b>{{ total_sum|floatformat:2 }}</b></td>
    </tr>
    <tr>
      <td>{% trans 'Package monthly fee' %} ({{ unit.get_package.get_name_display }})</td><td>{{ unit.get_package.monthly_fee }}</td>
    </tr>
     <tr>
      <td>{% trans 'Menu management fee' %} ({{ unit.get_package.get_name_display }})</td><td>{{ unit.get_package.menu_management_fee }}</td>
    </tr>
    <tr>
      <td>{% trans 'Package percentage rate' %} ({{ unit.get_package.get_name_display }})</td><td>{{ unit.get_package.rate }}</td>
    </tr>   
    <tr>
      <td>{% trans 'Total' %}</td><td><b>{{ grand_total|floatformat:2 }}</b></td>
    </tr>
    <tr>
      <td>{% trans 'Total VAT' %}</td><td><b>{{ tva_grand_total|floatformat:2 }}</b></td>
    </tr>
  </tbody>
</table>
{% endblock %}
