{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="content_area">
  <div class="title"><h1 class="light_green">{% trans 'Restaurants' %}</h1></div>
  <br/>
  <div id="establishment_list">
    <table>
      <tbody>
	<tr class="platinum">
          <th>{% trans 'Unit' %}</th>
	  <th></th>
          <th>{% trans 'Quality' %}</th>
          <th>{% trans 'Delivery time' %}</th>
          <th>{% trans 'Comments' %}</th>
	</tr>
	{% for unit in units %}
	<tr class="{% cycle 'even' 'odd'%}">
          <td><a class="{{ unit.get_package.get_class|default:"silver" }}" href="{% url restaurant:detail unit.id %}">{{ unit }}</a></td>
	  <td class="align-center">
	    {% if not unit.schedule.is_open %}<img src="{{ MEDIA_URL }}images/template/icons/lock_icon.png" alt="{% trans 'Closed' %}" title="{% trans 'Closed' %}"/>{% endif %}
	    {% if unit.is_new %}<img src="{{ MEDIA_URL }}images/template/icons/star_icon.png" alt="{% trans 'New' %}" title="{% trans 'New' %}"/>{% endif %}
	    {% if unit.has_promotion %}<img src="{{ MEDIA_URL }}images/template/icons/money_icon.png" alt="{% trans 'Has discount' %}" title="{% trans 'Has discount' %}"/>{% endif %}
	  </td>
	  <td><div class="rating_bar"><div style="width:{{ unit.get_avg_quality }}%"></div></div></td>
	  <td><div class="rating_bar"><div style="width:{{ unit.get_avg_speed }}%"></div></div></td>
          <td class="align-center"><a class="{{ unit.get_package.get_class }}" href="{% url restaurant:comments unit.id %}">{% trans 'Comments' %} ({{ unit.comment_count }})</a></td>
	</tr>
      {% endfor %}
      </tbody>
    </table>
  </div><!-- establishment_list -->
</div> <!-- content_area -->
{% endblock %}
