{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ object.name }}{% endblock%}

{% block scripts %}
<script type="text/javascript">
  $(function(){
    $("#current-order").load("{% url order:get_current object.id %}");
  })
</script>
{% endblock %}

{% block content %}
<img src="{{object.logo_path}}" alt="Restaurant logo" /><h1>{{ object.name }}{% trans ' details' %}</h1>
<ul>
<li>{% trans 'Name' %}: {{ object.name }}</li>
<li>{% trans 'Address' %}: {{ object.address }}</li>
<li>{% trans 'Email' %}: {{ object.email }}</li>
<li>{% trans 'Phone' %}: {{ object.phone }}</li>
</ul>

<h2>Current order:</h2>
<div id="current-order">
</div>

<h1>{% trans 'Menu' %}</h1>
<h2>{% trans 'Special Items' %}</h2>
<ul>
{% for sitem in object.specialitem_set.iterator %}
<li>{{ sitem }}</li>
{% endfor %}
</ul>

<h2>{% trans 'Usual items' %}</h2>
<ul>
{% for item in object.item_set.iterator %}
<li><a href="{% url order:add_item item.id %}">{{ item.name_ro }}</a> - <span class="item-desc">{{item.description_ro}}</span><br/>
  {{ item.name_en }} - <span class="item-desc">{{item.description_en}}</span></li>
{% endfor %}
</ul>
<br/>
<a href="{% url restaurant:index %}">{% trans 'Home' %}</a>
{% endblock %}
