{% extends "base.html" %}
{% load i18n thumbnail item_trans %}

{% block title %}{{ object.name }}{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function() {
        	// in this view we don't have commercials
            $("#messages").css("margin-top", "15px");
        	$("#content, #sidebar2").css("margin-top", "70px");
            $("#shopping-cart").load("{% url order:shopping-cart object.id %}");

            $("#last-orders").load("{% url order:list_unit object.id %}", function() {
                pageLinks();
            });
            $("#show-previous-link").click(function(e) {
                $("#last-orders").slideToggle();
                e.preventDefault();
            })
            $("#toggle-info").click(function(e) {
                $("#establishment_details").slideToggle();
                e.preventDefault();
            });
            $("#toggle-discount").click(function(e) {
                $("#establishment_discount").slideToggle();
                e.preventDefault();
            });
            $(".shop-link").click(function(e) {
                var id = $(this).attr("itemid");
                var vari_id = $(this).prev("#variation").val() | 0; // get the variation id or 0                
                shop(id, vari_id);
                // fade out all toppings except current one
                $(this).parents("li.item:first").siblings().each(function(){
                	$(this).next(".top-span").fadeOut();
                });
                $(this).parents("li.item:first").next(".top-span").fadeIn();                
                e.preventDefault();
            });
            $(".shop-top-link").click(function(e) { 
            	var masterItem = null;           	            	
            	$(".selected-cart").next("ul.items").children("li.cart-item").each(function(){
            		var count = $(this).attr("itemid").match(/_/g);
            		if(count.length == 1) {
            			masterItem = $(this);
            		}
            	});            	
                var id = masterItem.attr("itemid") + "_" + $(this).attr("topid");                               
                masterItem.children(".incr-link").hide();
                shop(id, 0);
                e.preventDefault();
            });
            $("a.fancy").fancybox({
                'transitionIn'  :   'elastic',
                'transitionOut' :   'elastic',
                'speedIn'       :   400, 
                'speedOut'      :   200, 
                'overlayShow'   :   false
            });
            $("a.gallery").fancybox({
                'transitionIn'  :   'elastic',
                'transitionOut' :   'elastic',
                'speedIn'       :   400, 
                'speedOut'      :   200, 
                'overlayShow'   :   false
            });
        });

        function shop(id, price_id) {
            {% if not user.is_authenticated %}
                window.location = "{% url auth_login %}";
            {% endif %}
            var selCart = $("a.selected-cart");
            var parentUL = selCart.next("ul");
            var pos = parentUL.children('li.cart-item').length;
            var args = pos + "_" + id + "-" + price_id + "/"
            var existingTopping = null;
            if(id.indexOf("_") != -1) {
            	// if it is a topping then we only need the id             	
            	args = id;
            	existingTopping = $("li.cart-item[itemid='" + id + "']");
            }           
			if(existingTopping && existingTopping.length > 0){
				$('a.incr-link', existingTopping).click();
			} else {
		        $.get("/order/shop/" + selCart.text() + "/" + args , function(data) {
		        	if (data.hasOwnProperty('id') && data.hasOwnProperty('price') && data.hasOwnProperty('name')){
		            	parentUL.append(itemTemplate(data['id'], data['price'], data['name']));
		            	parentUL.next("div.subtotal-div").children("span.cart-subtotal:first").text(data['subtotal']);
		            	$("#order-total").text(data['total']);
		            	showHideMinOrder();
		           } else {
		           		alert("{% trans 'Error processing your command!' %}");
		           }
		        });
            }
        }

        function itemTemplate(id, price, title) {
            return '<li itemid="' + id + '" class="cart-item">\
          <span class="item-count">1</span>\
          <span class="item-price">' + price + '</span>\
          <span class="item-title">x ' + title + '</span>\
          <a href="#" class="decr-link"></a>\
          <a href="#" class="incr-link"></a>\
          <span class="item-currency">{% trans "RON" %}</span>\
          <span class="item-total">' + price + '</span>\
          </li>';
        }

        function pageLinks() {
            $(".page, .next, .prev").click(function(e) {
                $.get("{% url order:list_unit object.id %}" + $(this).attr("href"), function(data) {
                    $("#last-orders").html(data);
                    pageLinks();
                });
                e.preventDefault();
            });
        }
    </script>
{% endblock %}


{% block style %}
<link rel="stylesheet" href="{{ STATIC_URL }}fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
{% endblock %}

{% block script-links %}
<script src="{{ STATIC_URL }}fancybox/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}fancybox/jquery.easing-1.3.pack.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}fancybox/jquery.mousewheel-3.0.4.pack.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

    <div class="content_area">
        <div id="paginarestaurant">
            <div id="miniinfo">
                <p>{%  trans 'Delivery time' %}: {{ object.delivery_time }}{% trans 'min' %}</p>
                <p>{%  trans 'Minimum order' %}: {{ object.minimum_ord_val }}{% trans 'RON' %}</p>
            </div>
            <div class="title"><h1>{{ object.name|upper }}</h1>
            </div>
             {% if object.logo_path %}
                <div id="establishment_picture">
                    {% thumbnail object.logo_path "x100" format="PNG" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ object.name }}-logo">
                    {% endthumbnail %}
                </div>
            {% endif %}

            {% if object.discount %}<a class="button" id="toggle-discount" href="#">{% trans 'Discount products' %}</a>{% endif %}
            <a class="button" id="toggle-info" href="#">{% trans 'More info' %}</a>
            <a class="button" id="show-previous-link" href="#">{% trans 'Previous orders at this restaurant' %}</a>
            <div id="establishment_details">
                <strong>{% trans 'Address' %}:</strong> {{ object.address }}<br/>
                <strong>{% trans 'Open hours' %}:</strong> {{ object.schedule }}
                <strong>{%  if object.schedule.is_open %}{% trans 'Open' %}{%  else  %}{% trans 'Closed' %}{% endif %}</strong>
                <br/>
                {% if object.info %}<br/>{{ object.info|safe }}<br/>{% endif %}
                {% for img in object.unitimage_set.iterator %}
                    {% thumbnail img.image_path "100x100" as im %}
                        <a class="gallery" rel="group1" href="{{ MEDIA_URL }}{{ img.image_path }}">
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
                        </a>
                    {% endthumbnail %}
                {% endfor %}
            </div>
            <div id="establishment_discount">                
                {% if object.discount %}{{ object.discount|safe }}{% endif %} 
            </div>           
            {% if motd %}
                <div class="clear"></div>
                <div class="content_area">
                    <h4>{% trans 'Menu of the day' %}: {{ motd.name }}</h4>
                    {{ motd.description|safe }}
                    <div class="price">
                    {{ motd.get_price }} {% trans 'RON' %}
                    <a style="margin-right: 25px;" class="button shop-link" itemid="{{ motd.get_id }}" href="#">{% trans 'Add to order' %}</a>
                    </div>
                </div><!-- content_area -->
            {% endif %}
            <div class="clear"></div>            
            <div id="last-orders" style="display:none">                
            </div>
            <div class="clear"></div>
            <div class="establishment-menu">
                {% for itemgroup in object.itemgroup_set.iterator %}
                    {% if itemgroup.active %}
                        <h2>{% get_name itemgroup %}</h2>
                        <ul>
                            {% for item in itemgroup.item_set.iterator %}
                                {% if item.active %}
                                    <li class="item {% if item.is_new %}new-item{% endif %} pozrel">
                                        <div class="name">
                                        {% get_name item %}
                                        <span class="unit">{{ object.descriptive_type|title }} {{ object.name }}</span>
                                        {% if item.image_path %}
                                        <a class="fancy" href="{{ MEDIA_URL }}{{ item.image_path }}">{% trans 'preview' %}</a>
                                        {% endif %}
                                        </div>
                                        <br/>

                                        <div class="description">{% get_desc item %} {% if item.quantity %}{{ item.quantity }}{{ item.get_measurement_unit_display }}{% endif %}</div>
                                        <div class="price">
                                        	{% if item.variation_set.exists %}
                                        	<select name="variation" id="variation">
                                        		<option value="0">{% trans 'Default' %} {{item.get_price}}{% trans 'RON' %}</option>
                                        		{% for variation in item.variation_set.iterator %}
                                        		{% if variation.active %}
	                                       		<option value="{{ variation.id }}">{{variation.name}} {{variation.price}}{% trans 'RON' %}</option>
	                                       		{% endif %}
    	                                    	{% endfor %}
                                        	</select>
                                        	{% else %}                                      
                                            {{ item.get_price }} {% trans 'RON' %}
                                            {% endif %}
                                            <a href="#" itemid="{{ item.id }}" title=""
                                               class="button shop-link">{% trans 'Add to order' %}</a>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    {% if item.toppings %}
                                        <div id="top{{ item.id }}" class="top-span" style="display:none">
                                            <span class="topping-span">
                                                <ul>
                                                    {% for top in item.toppings.topping_set.iterator %}
                                                        <li>
                                                            <div class="name">{% get_name top %}</div>
                                                            <br/>

                                                            <div class="description">{% get_desc top %}</div>
                                                            <div class="price">
                                                                {{ top.get_price }} {% trans 'RON' %}
                                                                <a itemid="{{ item.id }}" topid="{{ top.id }}" href="#"
                                                                   class="button shop-top-link">{% trans 'Add to order' %}</a>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </span>
                                        </div> <!-- top-span -->
                                    {% endif %}
                                    <div class="clear"></div>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% cycle '' '' '<div class="clear"></div>' %}
                {% endfor %}
                {% if forloop.counter < 3 %}
                    <div class="clear"></div>
                {% endif %}
            </div> <!-- estabilshment-menu -->
        </div><!-- paginarestaurant -->
    </div><!-- content_area -->

{% endblock %}

