{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ object.name }}{% endblock%}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/tabs_style.css"/> 
{% endblock %}

{% block scripts %}        
<script type="text/javascript">
  $(function(){
  $(".add-item").click(function(e){
      var selected_cart = $(".current", ".css-tabs").attr("id");
      $.get("/order/add_item/" + $(this).attr("id") + "/" + selected_cart, function(response){
          $(".css-panes>div").load("/order/get_cart/{{ order.id }}/" + selected_cart);
          getAvailableToppings();
        });
        e.preventDefault();
    });
  $("#carts>ul.css-tabs").tabs("div.css-panes > div", {effect: 'ajax'});
    $("#add-cart").click(function(e){
      $.get("{% url order:add_cart order.id %}", function(data){
          $("#carts>ul").append(data);
        });
      e.preventDefault();
    });
    $("#last-orders").load("{% url order:list_unit object.id %}", function(){
      pageLinks();
    });
    $(".toggle-toppings").click(function(e){
        $(this).next().slideToggle();
        e.preventDefault();
    });
    getAvailableToppings();
    $("#show-previous-link").click(function(e){
      $("#last-orders").toggle();
      e.preventDefault();
    })
  });
  function pageLinks(){
    $(".page, .next, .prev").click(function(e){
        $.get("{% url order:list_unit object.id %}"+ $(this).attr("href"), function(data){
          $("#last-orders").html(data);
          pageLinks();
        });
        e.preventDefault();
      });
  }
  function getAvailableToppings(){
    $.get("{% url order:available_toppings object.id %}", function(data){
      var json = eval(data);
      $(".top-span").each(function(){
        if($.inArray($(this).attr("id"), json.items) != -1){
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    });
  }
</script>
{% endblock %}

{% block content %}
<div class="content_area"> 
  <div class="title"><h1 class="light_green"><img height="100px" src="{{ MEDIA_URL }}{{ object.logo_path }}" alt="logo" /> {{ object.name }}{% trans ' details' %}</h1></div><br> 
  <ul>
    <li>{% trans 'Name' %}: {{ object.name }}</li>
    <li>{% trans 'Address' %}: {{ object.address }}</li>
    <li>{% trans 'Email' %}: {{ object.email }}</li>
    <li>{% trans 'Phone' %}: {{ object.phone }}</li>
    <li>{% trans 'Open hours' %}: {{ object.schedule }}, {% trans 'Open'%}: {{ object.schedule.is_open|yesno }}</li>
    {% if object.info %}<li>{% trans 'Info' %}: {{ object.info|safe}}</li>{% endif %}
  </ul> 
  <a id="show-previous-link" href="#">{% trans 'Previous orders at this restaurant' %}</a>
  <div id="last-orders" style="display:none"></div>
</div><!-- content_area -->

<div class="content_area"> 
  <div class="title"><h1 class="light_orange">{% trans 'Menu' %}</h1></div><br>
  <ul id="menu">
    {% for itemgroup in object.itemgroup_set.iterator %}
    {% if itemgroup.active %}
    <h3>{{ itemgroup }}</h3>
    {% for item in itemgroup.item_set.iterator %}
    {% if item.active %}
    <li class="item {% if item.is_new %}new-item{% endif %}"><a id="{{ item.id }}" href="{% url order:add_item item.id user.username %}" class="add-item">{{ item.name_def }}</a> - <span class="item-desc">{{ item.description_def }}</span></li>
    <span id="top{{ item.id }}" class="top-span" style="display:none">
      {% if item.toppings %}
      <a class="toggle-toppings" href="#" title="{% trans 'Toggle toppings' %}">+</a>
      <span class="topping-span" style="display:none">
	{% trans 'Toppings' %}:
	<ul>
	  {% for top in item.toppings.topping_set.iterator %}
	  <li><a id="{{ top.id }}" href="{% url order:add_item top.id user.username %}" class="add-item">{{ top.name_def }}</a> - <span class="item-desc">{{ top.description_def }}</span><br/>
	    {{ top.name_en }} - <span class="item-desc">{{ top.description_en }}</span></li>
	  {% endfor %}
	</ul>  
      </span>
      {% endif %}
    </span>
    {% endif %}
    {% empty %}
    <li>{% trans 'No items in this group' %}</li>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </ul>
</div><!-- content_area -->
<div class="content_area"> 
  <div class="title"><h1 class="light_green">{% trans 'Current Order' %}</h1></div><br>
  <div id="carts">
    <ul class="css-tabs"> 
      {% for cartname in carts %}
      <li><a id="cart-{{ cartname }}" href="{% url order:get_cart order.id cartname %}">{{ cartname }}</a></li> 
      {% empty %}
      <li><a id="cart-{{ user.username }}" href="{% url order:get_cart order.id user.username %}">{{ user.username }} </a></li> 
      {% endfor %}
    </ul> 
    <div class="css-panes">
      <div style="display:block"></div>
    </div>
    <div class="order_now"><a {% if not object.schedule.is_open %}class="closed-unit"{% endif %} href="{% url order:send object.id %}">{% trans 'Preview order' %}</a></div>
    <a id="add-cart" href="#">{% trans 'Add cart' %}</a>
  </div><!-- content_area -->
{% endblock %}
  
