{% extends "base.html" %}
{% load cache %}
{% load i18n %}

{% block content %}
{% cache 300 unitlist %}
<div id="paginarestaurant">
	<div class="title">
		<h1 class="light_orange">{% trans 'Restaurant list'|upper %}</h1>
	</div>
	<br/>
	<div class="lista">
		{% for unit in units %}
		<div class="item pozrel {{ unit.get_package.get_class|default:"silver" }}">
			<div class="name2">
				<a class="" href="{% url restaurant:detail unit.id %}" >{{ unit|upper }}</a>
				{% if unit.get_package.get_class == "platinum" %} <span class="special"></span>
				{% endif %}
				{% if not unit.schedule.is_open %}<img src="{{ STATIC_URL }}images/template/icons/lock_icon.png" alt="{% trans 'Closed' %}" title="{% trans 'Closed' %}"/>{% endif %}
				{% if unit.is_new %}<img src="{{ STATIC_URL }}images/template/icons/star_icon.png" alt="{% trans 'New' %}" title="{% trans 'New' %}"/>{% endif %}
				{% if unit.has_promotion %}<img src="{{ STATIC_URL }}images/template/icons/money_icon.png" alt="{% trans 'Has discount' %}" title="{% trans 'Has discount' %}"/>{% endif %}
			</div>
			<div class="description3">
				Specific italian, 200 locuri, specialitati <a href="{% url restaurant:comments unit.id %}">{% trans 'Comments' %} ({{ unit.comment_count }})</a>
			</div>
			<div class="stele">
				<div class="rating_bar">
					<div style="width:{{ unit.get_avg_quality }}%"></div>
				</div>
				<div class="rating_bar">
					<div style="width:{{ unit.get_avg_speed }}%"></div>
				</div>
			</div>
			<div class="btnv_margin">
				<a href="{% url restaurant:detail unit.id %}" class="btnviziteaza_{{ unit.get_package.get_class }}">{% trans 'visit'|upper %}</a>
			</div>
			<div class="clear"></div>
		</div>
		{% endfor %}
	</div>
</div>
{% endcache %}
{% endblock %} 