{% load i18n %}
{% load compress %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}click2eat.ro - Comanda mancare in Timisoara, Restaurante, Oferte mancare{% endblock%}</title>
	<meta name="description" content="{% block description %}Aici poti comanda mancare online de la diferite restaurante din Timisoara, poti afla meniurile zilei, oferte, reduceri si poti afla pareri despre restaurantele din Timisoara{% endblock %}">
	<meta name="author" content="Radu Fericean">
	{% compress css %}
	{% block style %}{% endblock %}
	<!--/ CSS Files /-->
	<link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" type="text/css" media="screen">
	{% endcompress %}

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<script src="http://cdn.jquerytools.org/1.2.5/jquery.tools.min.js"></script>
	<!--script src="{{ MEDIA_URL }}js/jquery.min.js" type="text/javascript"></script-->
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	{% compress js %}
	<!--[if lte IE 7]>
	    <script type="text/javascript" src="scripts/js/ieCheck.js"></script>
	    <![endif]-->
	<script type="text/javascript">
	  $(function(){
         $.ajaxSetup({
            cache: false
         });
	     $(".messages-close-link").click(function(e){
                $(this).parent("div").fadeOut("slow");
                e.preventDefault();
	      });
	      $('.clearme').one("focus", function() {
	        $(this).val("");
              });
	  });
	</script>
	{% block scripts %}{% endblock %}
	{% endcompress %}
</head>
<body>
  <div id="top_site"></div>
  <div style="float:right" id="langs">
	<form action="/i18n/setlang/" method="post">
	  {% csrf_token %}
	  <input name="next" type="hidden" value="" />
	  <select name="language">
	    {% for lang in LANGUAGES %}
	    <option value="{{ lang.0 }}">{{ lang.1 }}</option>
	    {% endfor %}
	  </select>
	  <input class="form_button" type="submit" value="Go" />
	</form>
  </div> <!-- languages -->
  {% include 'header.html'%}
  <div id="menu_top">
    <ul id="menu-list">
      <li><a href="{% url restaurant:index %}" title="{% trans 'Home page' %}" target="_self">{% trans 'Home' %}</a></li>
      <li><a href="#" title="{% trans 'How do I order' %}" target="_self">{% trans 'How do I order' %}</a></li>
      <li><a href="#" title="{% trans 'All restaurants' %}" target="_self">{% trans 'All restaurants' %}</a></li>
      <li><a href="#" title="{% trans "Today's menu" %}" target="_self">{% trans "Today's menu" %}</a></li>
      <li><a href="#" title="{% trans 'Wheel of fortune' %}" target="_self">{% trans 'Wheel of fortune' %}</a></li>
    </ul>
  </div>

  <div id="wrapper">
    <div id="sidebar_ornament"></div>
    {% include 'sidebar.html' %}
    <div id="body_page">
      <div id="messages">
	{% if messages %}
	{% for message in messages %}
	<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {{ message }}
          <a href="#" class="messages-close-link" target="_self"><img class="close_btn" src="{{ MEDIA_URL }}images/template/close_btn.png" alt=""></a>
	</div>
	{% endfor %}
	{% endif %}
      </div><!-- messages -->      
      <div class="content_area">
	<div id="ads2-container">
	  <div id="ads2-left">
	    <ul>
	      <li style="display:block"><img src="{{ MEDIA_URL }}images/ads/5.jpg" alt=""></li>
	      <li><img src="{{ MEDIA_URL }}images/ads/5_1.jpg" alt=""></li>
	      <li><img src="{{ MEDIA_URL }}images/ads/5_2.jpg" alt=""></li>
	      <li><img src="{{ MEDIA_URL }}images/ads/5_3.jpg" alt=""></li>
	      <li><img src="{{ MEDIA_URL }}images/ads/5_4.jpg" alt=""></li>
	    </ul>
	    
	    <img class="flag-platinum" src="{{ MEDIA_URL }}images/template/icons/platinum_flag.png" alt="">
	    
	    <div class="ads-controls">
	      <div class="prev"></div>
	      <div class="next"></div>
	    </div>
	  </div>
	  
	  <div id="ads2-right">
	    <ul>
	      <li style="display:block"><img src="{{ MEDIA_URL }}images/ads/6.jpg" alt=""></li>
	    </ul>
	    
	    <img class="flag-gold" src="{{ MEDIA_URL }}images/template/icons/gold_flag.png" alt="">
	    
	    <div class="ads-controls">
	      <div class="prev"></div>
	      <div class="next"></div>
	    </div>
	  </div>
	  <div class="clear"></div>
	</div> <!-- ads -->
      </div> <!-- content_area -->
      <div class="clear"></div>
      {% block content%}
      {% endblock %}
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div><!-- wrapper -->
  {% include 'footer.html' %}
</body>
</html>
