{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}bucatar{% endblock%}</title>
	<meta name="author" content="Radu Fericean">
  {% block style %}{% endblock %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <!--script src="{{ MEDIA_URL }}js/jquery.min.js" type="text/javascript"></script-->
  <script type="text/javascript">
    $(function(){
      $("#messages-close-link").click(function(e){
        $("#messages").fadeOut("slow");
        e.preventDefault();
      });
    });
  </script>
  {% block scripts %}{% endblock %}
</head>
<body>
  <div id="header">
    {% if user.is_authenticated %}
                <p>
                    {% if user.is_superuser %}
                        {% trans 'Welcome' %}, <a href="{% url admin:index %}">{{ user.username }}</a>.
                    {% else %}
                        {% trans 'Welcome' %}, <a href="{% url profiles_profile_detail user %}">{{ user.username }}</a>.
                    {% endif %}
                <a href="{% url auth_logout %}">log out</a></p>
            {% else %}
                <p>Please <a href="{% url auth_login %}">log in</a> or <a href="{% url registration_register %}">sign up.</a></p>
            {% endif %}
		<div style="float:right" id="languages">
		<form action="/i18n/setlang/" method="post">
		  {% csrf_token %}
		  <input name="next" type="hidden" value="/" />
		  <select name="language">
		    {% for lang in LANGUAGES %}
		    <option value="{{ lang.0 }}">{{ lang.1 }}</option>
		    {% endfor %}
		  </select>
		  <input type="submit" value="Go" />
		</form>
		</div>
  </div>
  <div id="messages">
    {% if messages %}
      <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
      <a href="#" id="messages-close-link">X</a>
    {% endif %}
</div>
{% block content%}
{% endblock %}
</body>
</html>
