{% load i18n %}
<div id="footer">
    <div id="footerwrapper">
      <ul>
        <li class="primul"><a target="_self" href="#"><span class="footertextmare">CE ESTE</span><br/><span class="footertextmic">CLICK 2 EAT</span></a></li>
        <li><a target="_self" href="#"><span class="footertextmare">CUM</span><br/><span class="footertextmic">COMANZI</span></a></li>
        <li><a target="_self" href="/contact/"><span class="footertextmare">FORMULAR</span><br/><span class="footertextmic">RECLAMATII</span></a></li>
        <li><a target="_self" href="#"><span class="footertextmare">PROGRAM</span><br/><span class="footertextmic">FIDELIZARE</span></a></li>
        <li><a target="_self" href="#"><span class="footertextmare">POLITICA</span><br/><span class="footertextmic">CONFIDENTIALITATE</span></a></li>
        <li class="listdreapta"><a target="_self" href="#"><span class="footertextmare">INSCRIERE</span><br/><span class="footertextmic">RESTAURANTE</span></a></li>
        <li><a target="_self" href="/flat/contact/"><span class="footertextmare">CONTACTEAZA</span><br/><span class="footertextmic">UN AGENT CLICK2EAT</span></a></li>
      </ul> 
     	

      <br/>
      
      <p class="footertext">
      Click2Eat este marca inregistrata. Toate drepturile rezervate. Toate materialele prezente pe acest website sunt protejate prin legea copywrite-ului.
      </p>
      <div class="right" id="langs">
			{% csrf_token %}
			{% for lang in LANGUAGES %} <a <href="" class="{{ lang.0 }}"><img src="{{ STATIC_URL }}images/flags/{{ lang.0 }}.png" alt="{{ lang.0 }}"/></a>
			{% endfor %}
		</div>
      <!--
      <p>
        Some copyright informations here...<br/>
        Powered by Clik2Eat &copy; 2010 | Click2eat Group Corp.<br/>
        Designed by <a target="_blank" href="http://www.handsome.ro/">HANDSOME</a><br/><br/>
        
        <a target="_self" href="/">{% trans 'Home' %}</a> |
        <a target="_self" href="#">{% trans 'Restaurant' %}</a> |
        <a target="_self" href="#">{% trans 'How to order' %}</a> |
        <a target="_self" href="#">{% trans 'Privacy statement' %}</a> |
        <a target="_self" href="#">{% trans 'Contact' %}</a>
      </p>
      -->
    </div> <!-- footerwrapper -->
</div>
