{% load i18n %}
{% load avatar_tags %}
<div id="header">
    <a id="logo" href="/"></a>
    <div id="header_content">
      <div id="top_search">
	<form class="search" action="{% url menu:item_list %}" method="get">
	  <input class="clearme" type="text" name="q" id="id_q" value="{% if query %}{{ query }}{% else %}{% trans 'Search' %}{% endif %}" />

	  <input type="submit" value=""/>
	</form>
      </div>
      {% if not user.is_authenticated %}
      <div id="top_links">
	 {% trans 'Forgot password?' %} <a href="{% url auth_password_reset %}" target="_self">{% trans 'Reset it' %}</a>! |
	 {% trans 'Not member?' %} <a href="{% url registration_register %}" target="_self">{% trans 'Register' %}</a>!
      </div>
      {% endif %}
      <div id="top_register{% if user.is_authenticated %}_auth{% endif %}">
	  {% if user.is_authenticated %}
	  <a class="avatar" href="{% url profiles_profile_detail user %}">{% avatar user 60 %}</a>
	  {% if user.is_superuser %}
	  {% trans 'Welcome' %}, <a href="{% url admin:index %}">{{ user.username }}</a>.
	  {% else %}
	  {% trans 'Welcome' %}, <a href="{% url profiles_profile_detail user %}">{{ user.username }}</a>.
	  {% endif %}
	  <a href="{% url auth_logout %}">{% trans 'Logout' %}</a>
	  {% else %}
	  <img src="{{ MEDIA_URL }}images/template/commands_text_ro.png" alt=""/>
	  <div class="reg_content">
	    <form method="post" action="{% url auth_login %}" class="uniForm">{% csrf_token %}
	      <div class="label">{% trans 'User/email' %}: </div>
	      <input id="id_username" name="username" maxlength="30" type="text"/><br/>
	      <div class="label">{% trans 'Password' %}: </div>
	      <input name="password" id="id_password" type="password"/>
	      <input class="pad" type="submit" value="{% trans 'Login' %}" />
	      <input type="reset" value="Reset"/>
	      <input type="hidden" name="next" value="{{ next }}" />
	    </form>
	  </div> <!-- reg_content -->
	  {% endif %}
      </div> <!-- top_register -->
    </div> <!-- header_content -->
    <div class="clear"></div>
</div> <!-- header -->
