<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ro">
<head>
    <title>Intretinere server</title>
    <style type="text/css">
    body{
        background-color: #8C8E80;
        text-shadow: 0 1px 1px #BBBBBB;
    }
    h1 {
        color: #793525;
        font-size: 3em;
    }
    p{
        font-size: 1.5em;
    }
    #container {
        margin: auto;
        width: 800px;
    }
    </style>
</head>
<body>
    <div id="container">
        <h1>Intretinere server!</h1>

        <p>Ne cerem scuze dar avem de efectuat lucrari de intretinere a serverului.</p>

        <p>Multumim pentru intelegere si va rugam sa reveniti mai tarziu.</p>
    </div>
</body>
</html>
