{% load i18n units %}
<div id="topcontent" class="span-24">
	<div id="baraalba">{% random_units %}
		<div class="titlu">
			{% trans 'Choose where you want to eat today ?' %}
		</div>
		<div class="vezitoate">
			<a href="{% url restaurant:list %}" title="{% trans 'See all restaurants'%}">{% trans 'See all restaurants'%}</a>
		</div>
		<div style="clear:both"></div>
		<ul id="slider" class="jcarousel-skin-tango">
			{% for unit in random_units %}
			<li class="slide primulslide">
				<div class="titluslide">
					<a href="{% url restaurant:detail unit.id %}" title="slide">
					{% if unit.is_restaurant %}
					<span class="textmic">RESTAURANT</span>
					{% endif %}					
					<br/>
					<span class="textmare">{{ unit.name|upper }}</span></a>
				</div>
				<div class="logorestaurant">
					{% if unit.logo_path %}
					<img height="55px" src="{{ MEDIA_URL }}{{ unit.logo_path }}" alt="{{ unit.name }}-logo"/>
					{% else %}
					<img src="{{ STATIC_URL }}images/template/generic_logo.png" alt="" />
					{% endif %}
				</div>
				{% if unit.get_package.name == 'PR' %}
				<a href="{% url restaurant:detail unit.id %}" title="slide"><img src="{{ STATIC_URL }}images/template/slide1.png" alt="" /></a>
				{% else %}
				<a href="{% url restaurant:detail unit.id %}" title="slide"><img src="{{ STATIC_URL }}images/template/slide3.png" alt="" /></a>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
