{% load i18n %}

{% if order  and object %} {# we are in unit_detail main content #}
<div id="sidebar2">
  <div id="sidebar2wrapper">
    <span class="comanda">{% trans 'MY ORDER' %}</span>
    <br/><br/>
    <div id="carts">
      {% for cartname in carts %}
      <span id="cart-{{ cartname }}" class="cart {%if forloop.first %}selected-cart{% endif %}">
	<a class="cart-name" href="#">{{ cartname }}</a>
	<br/>
	<span class="cart-content"></span>
      </span>
      {% empty %}
      <span id="cart-{{ user.username }}" class="cart selected-cart">
	<span class="cart-name" href="#">{{ user.username }}</span>
	<br/>	
	<span class="cart-content"></span>
      </span>
	{% endfor %}
    </div>
<div class="clear"></div>
<div class="nota">
  _________________________<br/>
  <div class="textnota">{% trans 'PAY CHECK' %}:</div>&nbsp;
  <div class="totalnota"><span id="order-total-amount"></span> {% trans 'RON' %}</div>
  <br/>
  <!--div class="livrarea">
    <label>LIVRARE:</label>
    <select id="sidebarcomanda">
      <option value="1">acasa( adresa 1 profil )</option>
      <option value="2">birou( adresa 2 profil )</option>
    </select>
  </div-->
  <a href="{% url order:send order.unit.id %}" title="" class="btncomanda">
    <span class="textbtn">{% trans 'CONFIRM ORDER' %}</span>
  </a>
</div>
<div>
  <a id="add-cart" href="#">{% trans 'Add cart' %}</a>
</div>
</div><!-- sidebar2wrapper -->
</div><!-- sidebar2 -->
{% else %}
<div id="sidebar">
  <div id="boxmeniusidebar">
    <div class="text_specialitate">
      {% trans 'Today' %}, 24.01.2011
      <br/>{% trans 'Click2eat special is' %}:
    </div>
    <div class="meniu_special">
      Pui milanez<br/> cu legume Verdeza
    </div>
    <div class="meniu_restaurant">
      Restaurant ALBERTO
    </div>
    <div class="linkcomanda">
      <a href="#" title="" >{% trans 'Order this menu' %}</a>
    </div>
  </div>
</div><!-- sidebar -->

{% endif %}
