{% load i18n %}
{% load pagination_tags %}

<div id="sidebar">
      <div class="menu_title">
	<div class="house_icon"></div>
	<div class="text">Restaurante</div>
      </div>
      <div class="clear"></div>

      <ul>
	<li class="first">
	  Latest orders
	</li>
	<li class="first_star"></li>
	{% with user.order_set.all as object_list %}
	{% autopaginate object_list 5 %}
	<table>
	  <tbody>
	    {% for order in object_list %}
	    <tr class="{% cycle 'odd' 'even' %}">
	      <td class="item"><a target="_self" href="{% url order:detail order.id %}">{{order}}</a></td>
	      <td><a target="_self" href="{% url order:clone order.id %}">{% trans 'Clone' %}</a></td>
	    </tr>
	    {% empty %}
	    <tr><td>No orders yet? Bon apetit ;)</td></tr>
	    {% endfor %}
	  </tbody>
	</table>	
	{% paginate %}
	{% endwith %}
	<li class="first">
	  Bonus points
	</li>
	<li class="second_star"></li>

	<li>
	  <a href="#">Lorem ipsum</a><br>
	  <span></span>
	</li>

	<li>
	  <a href="#">Lorem ipsum sit dolor</a><br>
	  <span></span>
	</li>

	<li>
	  <a href="#">Lorem ipsum</a><br>
	  <span></span>
	</li>

	<li>
	  <a href="#">Lorem ipsum sit</a><br>
	  <span></span>
	</li>

	<li>
	  <a href="#">Lorem ipsum dolor amet</a><br>
	  <span></span>
	</li>

	<li class="first">
	  Friends
	</li>
	<li class="third_star"></li>
	{% for friend in profile.user.friends.iterator %}
	<li><a id="invite-link" href="{% url userprofiles:invite_friend %}">{% trans 'Invite a friend now' %}</a></li>
	{% empty %}
	<li>{% trans "Sorry, no friends here :(" %}</li>
	  {% endfor %}	  
	<li><a id="invite-link" href="{% url userprofiles:invite_friend %}">{% trans 'Invite a friend now' %}</a></li>
	<div id="invite-placeholder"></div>
      </ul>
</div><!-- sidebar -->
