{% load i18n cache speciality%}

{% if we_are_in_unit_detail %}
<div id="sidebar2">
  <div id="sidebar2wrapper">
  <div id="shopping-cart"></div>
</div><!-- sidebar2wrapper -->
</div><!-- sidebar2 -->
{% else %}
{% random_special %}
<div id="sidebar">
  <div id="boxmeniusidebar">
    <div class="text_specialitate">
      {% trans 'Today' %}, {{ today|date:"d F Y" }}
      <br/>{% trans 'Click2eat special is' %}:
    </div>
    <div class="meniu_special">
      {{ special_item.get_name }}
    </div>
    <div class="meniu_restaurant">
      {{ special_item.item_group.unit.name }}
    </div>
    <div class="linkcomanda">
      {% if user.is_authenticated %}
      <a onclick="addItem('{% url order:shop user.username special_item.id %}', '{% url restaurant:detail special_item.item_group.unit_id%}'); return false;" href="#" id="">{% trans 'Order this Item' %}</a>
      {% endif %}
    </div>
  </div>
</div><!-- sidebar -->
<script type="text/javascript">
  function addItem(href, redir) {
       $.get(href, function(){
          window.location = redir;
       });
  }
</script>
{% endif %}
