{% extends "base.html" %}
{% load i18n %}
{% load uni_form_tags %}

{% block style %}
<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni-form.css" type="text/css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/default.uni-form.css" type="text/css" />
{% endblock %}
{% block scripts %}
<script src="{{ MEDIA_URL }}uni_form/uni-form.jquery.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
     $.datepicker.setDefaults( $.datepicker.regional[ "{{ LANGUAGE_CODE }}" ] );
     $( "#id_birth_date" ).datepicker({
       dateFormat: 'yy-mm-dd',
       minDate: '-120y',
       maxDate: '-10y',
       changeMonth: true,
       changeYear: true,
       yearRange: '1940:2005'
     });
  });
</script>
{% endblock %}

{% block title %}{% trans 'Edit your profile' %}{% endblock %}

{% block content %}
<form method="POST" action="" class="uniForm">{% csrf_token %}
    {{ form|as_uni_form }}
    <input class="form_button" type="submit" value="{% trans 'Update profile' %}">
</form>
{% endblock %}

