{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Your profile' %}{% endblock %}

{% block scripts %}
<script type="text/javascript">
function handleinviteform(){
   $("#invite-form").submit(function(){
$.post("{% url userprofiles:invite_friend %}",
    { csrfmiddlewaretoken:  $("input:first").val(),
      email:                   $("#id_email").val(),
    },
    function(data){
      if(data == 'ok'){
        window.location.reload();
      } else {
        $("#invite-placeholder").html(data);
        handleinviteform();
      }
    }
  );
    return false;
   });
}

$(function(){
   $("#invite-link").click(function(e){
        $("#invite-placeholder").load($(this).attr("href"), function(){
            handleinviteform();
        });
        e.preventDefault();
   });
});
</script>
{% endblock %}

{% block content %}
{% if not profile %}
<h1>{% trans 'This profile is not public' %}</h1>
{% else %}
<ul>
<li>{% trans 'First name' %}: {{ profile.first_name }}</li>
<li>{% trans 'Last name' %}: {{ profile.last_name }}</li>
<li>{% trans 'Birth date' %}: {{ profile.birth_date }}</li>
<li>{% trans 'Phone' %}: {{ profile.phone }}</li>
<li>{% trans 'Sex' %}: {{ profile.get_sex_display }}</li>
<li>{% trans 'Newsletter' %}: {{ profile.newsletter|yesno }}</li>
<li>{% trans 'Communication' %}: {% for com in profile.communication.iterator %}{{ com.name }} {% endfor %}</li>
</ul>
<a href="{% url profiles_edit_profile %}">{% trans 'Edit' %}</a><nbsp>
<a href="{% url restaurant:index %}">{% trans 'Home' %}</a>
<br/>
<a href="{% url order:list %}">{% trans 'Order History' %}</a>
<h2>{% trans 'Friends' %}</h2>
{% for friend in profile.user.friends.iterator %}
<a href="{% url profiles_profile_detail friend.user.username %}">{{ friend }}</a>,&nbsp;
{% empty %}
<p>{% trans "You currently don't have any friends :(" %}
{% endfor %}
<p><a id="invite-link" href="{% url userprofiles:invite_friend %}">{% trans 'Invite a friend now' %}</a></p>
<div id="invite-placeholder"></div>

<div id="delivery_addresses">
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>{% trans 'Address' %}</th>
            <th>{% trans 'Primary' %}</th>
            <th>{% trans 'Operation' %}</td>
        </tr>
    </thead>
    <tbody>
        {% for addr in profile.user.deliveryaddress_set.iterator %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url userprofiles:address_detail addr.id %}">{{ addr }}</a></td>
            <td>{{ addr.primary }}</td>
            <td><a href="{% url userprofiles:delete_address addr.id %}">{% trans 'Delete' %}</a> <a href="{% url userprofiles:update_address addr.id %}">{% trans 'Edit' %}</a></td>
        </tr>
        {% empty %}
        <tr><td>{% trans 'You have not defined any delivery address.' %} <a href="{% url userprofiles:create_address %}">{% trans 'Add one now' %}</a></td></tr>
        {% endfor %}
    </tbody>
</table>
</div>
<br/>
<a href="{% url userprofiles:create_address %}">Add delivery address</a>
{% endif %}
{% endblock %}
