{% extends 'base.html' %}
{% load i18n %}
{% load avatar_tags %}

{% block title %}{% trans 'Your profile' %}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni-form.css" type="text/css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/default.uni-form.css" type="text/css" />
{% endblock %}

{% block scripts %}
<script type="text/javascript">
function handleinviteform(){
$("#invite-form").submit(function(){
$.post("{% url userprofiles:invite_friend %}",
    { csrfmiddlewaretoken:  $("input:first").val(),
      email:                   $("#id_email").val(),
      message:                   $("#id_message").val(),
    },
    function(data){
      if(data == 'ok'){
        window.location.reload();
      } else {
        $("#invite-placeholder").html(data);
        handleinviteform();
      }
    }
  );
    return false;
   });
}

$(function(){
   $("#invite-link").click(function(e){
        $("#invite-placeholder").load($(this).attr("href"), function(){
            handleinviteform();
        });
        e.preventDefault();
   });
});
</script>
{% endblock %}

{% block content %}
<div class="content_area">
  <div class="title"><h1 class="light_green">{% trans 'My account' %}</h1></div>
  <br>
  {% if not profile %}
  <h1>{% trans 'This profile is not public' %}</h1>
  {% else %}
  <div id="account_details">
    <div class="avatar">
      {% avatar profile.user 155 %}
      <br>
      {% if user == profile.user %}
      <a href="{% url avatar_change %}">{% trans 'Change' %}</a> | <a href="{% url avatar_delete %}">{% trans 'Delete' %}</a>
      {% endif %}
    </div>
    <div class="details">
      <strong>{% trans 'Name' %}:</strong> {{ profile.user.get_full_name }}<br>
      <strong>{% trans 'Email' %}:</strong> <a target="_self" href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a><br><br>
      <strong>{% trans 'Birth date' %}:</strong> {{ profile.birth_date }}<br>
      <strong>{% trans 'Phone' %}:</strong> {{ profile.phone }}<br>
      <strong>{% trans 'Sex' %}:</strong> {{ profile.get_sex_display }}<br>
      <strong>{% trans 'Newsletter' %}:</strong> {{ profile.newsletter|yesno }}<br>
      <strong>{% trans 'Communication' %}:</strong> {% for com in profile.communication.iterator %}{{ com.name }}, {% endfor %}<br>
      {% if user == profile.user %}
      <a href="{% url profiles_edit_profile %}">{% trans 'Edit' %}</a> | <a href="{% url order:list %}">{% trans 'Order History' %}</a>
      {% endif %}
    </div> <!-- details -->
    <div class="clear"></div>
  </div> <!-- account_details -->
</div><!-- content_area -->

<div class="content_area">
  <div class="title"><h1 class="light_orange">{% trans 'Friends' %}</h1></div>
  {% for friend in profile.user.friends.iterator %}
  <a href="{% url profiles_profile_detail friend.user.username %}">{{ friend }}</a>,&nbsp;
  {% empty %}
  <p>{% trans "Sorry, no friends here :(" %}
    {% endfor %}
  {% if user == profile.user %}
  <p><a id="invite-link" href="{% url userprofiles:invite_friend %}">{% trans 'Invite a friend now' %}</a></p>
  <div id="invite-placeholder"></div>
  {% else %}
  <p><a href="#">{% trans 'Become friend with' %} {{ profile.user }}</a></p>
  {% endif %}
</div><!-- content_area -->
{% if user == profile.user %}
<div class="content_area">
  <div class="title"><h1 class="light_green">{% trans 'Delivery addresses' %}</h1></div>
  <div id="delivery_addresses">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>{% trans 'Address' %}</th>
          <th>{% trans 'Primary' %}</th>
          <th>{% trans 'Operation' %}</th>
	</tr>
      </thead>
      <tbody>
        {% for addr in profile.user.deliveryaddress_set.iterator %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{% url userprofiles:address_detail addr.id %}">{{ addr }}</a></td>
          <td>{{ addr.primary }}</td>
          <td><a href="{% url userprofiles:delete_address addr.id %}">{% trans 'Delete' %}</a> <a href="{% url userprofiles:update_address addr.id %}">{% trans 'Edit' %}</a></td>
        </tr>
        {% empty %}
        <tr><td>{% trans 'You have not defined any delivery address.' %} <a href="{% url userprofiles:create_address %}">{% trans 'Add one now' %}</a></td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br/>
  <a href="{% url userprofiles:create_address %}">Add delivery address</a>
</div><!-- content_area -->
{% endif %} <!-- user own profile -->
{% endif %} <!-- profile is public -->
{% endblock %}
