{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Address detail' %}{% endblock %}

{% block script-links %}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAA1fBAThoEkKdb3Z3hHSuoOxTjtHIC-s3nmDjYd9FiGongNz5hWBS8QFkV0CBroIQDOVvDb_Y8lCZDIw" type="text/javascript"></script>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
var map;
var geocoder;
var address;

function initialize() {
  map = new GMap2(document.getElementById("map_canvas"));
  map.addControl(new GLargeMapControl);
  lat = 45.75060;
  lgt = 21.22417;
  point = new GLatLng(lat, lgt);
  if({{ object.latitude }} != 0 && {{ object.longitude }} != 0) {
     lat = "{{ object.latitude }}".replace(",", ".");
     lgt = "{{ object.longitude }}".replace(",", ".");
     point = new GLatLng(lat, lgt);
     marker = new GMarker(point);
     map.addOverlay(marker);
  }
  map.setCenter(point, 15);

  GEvent.addListener(map, "click", getAddress);
  geocoder = new GClientGeocoder();
}

function getAddress(overlay, latlng) {
  if (latlng != null) {
    address = latlng;
    geocoder.getLocations(latlng, showAddressInfo);
  }
}

function showAddressInfo(response) {
  map.clearOverlays();
  if (!response || response.Status.code != 200) {
    alert("Status Code:" + response.Status.code);
  } else {
    place = response.Placemark[0];
    point = new GLatLng(place.Point.coordinates[1], place.Point.coordinates[0]);
    marker = new GMarker(point);
    map.addOverlay(marker);
    marker.openInfoWindowHtml(
    '<b>{% trans 'Coordinates' %}: </b>' + place.Point.coordinates[1] + ", " + place.Point.coordinates[0] + '<br>' +
    '<b>{% trans 'Address' %}: </b>' + place.address + '<br>')
  }
}

function showAddress(address) {
  if (geocoder) {
    geocoder.getLatLng(
      address,
      function(point) {
        if (!point) {
          alert(address + " not found");
        } else {
          map.setCenter(point, 15);
          var marker = new GMarker(point);
          map.addOverlay(marker);
          marker.openInfoWindowHtml(address);
        }
      }
    );
  }
}

$(function(){
    initialize();
});
</script>
{% endblock %}

{% block content %}
<div class="content_area">
  <h2>{{ object }}</h2>
  <ul>
    <li>{% trans 'Primary' %}: {{ object.primary|yesno }}</li>
    <li>{% trans 'City' %}: {{ object.city }}</li>
    <li>{% trans 'Street' %}: {{ object.street }}</li>
    <li>{% trans 'Number' %}: {{ object.number }}</li>
    <li>{% trans 'Block info' %}:
      {% if object.block %}{{ object.block }}{% endif %}
      {% if object.entrance %}{% trans 'ent.' %} {{ object.entrance }} {% endif %}
      {% if object.floor %}{% trans 'fl.' %} {{ object.floor }}{% endif %}
      {% if object.ap_number %}{% trans 'apt.' %} {{ object.ap_number }}{% endif %}</li>
    {% if object.additional_info %}<li>{% trans 'Additional information' %}: {{ object.additional_info }}</li>{% endif %}
  </ul>
  {% if back_to_order %}
  <a class="button" href="{% url order:confirm-order back_to_order %}"><span class="leftarrow icon"></span>{% trans 'Back' %}</a>
  {% else %}
  <a class="button" href="{% url profiles_profile_detail user %}"><span class="leftarrow icon"></span>{% trans 'Back' %}</a>
  {% endif %}
  <a class="button" href="{% url userprofiles:update_address object.id %}"><span class="pen icon"></span>{% trans 'Edit' %}</a>

  <h2>{% trans 'Did we pinpoint your address?' %}</h2>
  <p>{% trans 'If not, please let us know by clicking' %} <a href="{% url userprofiles:geolocation_error object.id %}">{% trans 'here' %}</a>.</p>
  <h3>{% trans 'You can try to find addresses here' %}</h3>
  <form action="#" onsubmit="showAddress(this.address.value); return false">
    <p>
      <input type="text" size="60" name="address">
      <button class="button" type="submit">{% trans 'Go' %}</button>
    </p>
    <div id="map_canvas" style="width: 500px; height: 300px"></div>
  </form>
</div>
{% endblock %}
