{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Wheel of fortune' %}{% endblock %}
{% block description %}{% trans 'If you are undecided about what to eat today, here you can let the fate decide. Just spin the wheel an find out what the it was meant for you today.' %}{% endblock %}

{% block style %}
<style>
.tooltip {
	display:none;
	background:url(http://static.flowplayer.org/tools/img/tooltip/black_arrow_big.png);
	height:163px;
	padding:30px 30px 10px 30px;
	width:310px;
	font-size:11px;
	color:#fff;
        z-index:6;
}
</style>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(function(){
   $("#event").click(function(e){
   });
   $("#daily_table td[title]").tooltip();
});
</script>
{% endblock %}

{% block content %}
<div class="content_area">
  <div class="title"><h1 class="light_green">{% trans "Today's menu" %}</h1></div><br>
  <div id="establishment_list">
    <table id="daily_table">
      <tbody>
	<tr class="platinum">
          <th>{% trans 'Unit' %}</th>
	  <th></th>
	  <th>{% trans 'Description' %}</th>
	  <th>{% trans 'Price' %}</th>
	</tr>
	{% for menu in daily_menus %}
	<tr class="{% cycle 'even' 'odd'%}">
          <td><a redir="{% url restaurant:detail menu.unit_id %}" class="item-add-link {{ menu.unit.get_package.get_class }}" href="{% url order:shop user.username menu.id %}">{{ menu.unit }}</a></td>
	  <td class="align-center">
	    {% if not menu.unit.schedule.is_open %}<img src="{{ STATIC_URL }}images/template/icons/lock_icon.png" alt="{% trans 'Closed' %}" title="{% trans 'Closed' %}">{% endif %}
	    {% if menu.unit.is_new %}<img src="{{ STATIC_URL }}images/template/icons/star_icon.png" alt="{% trans 'New' %}" title="{% trans 'New' %}">{% endif %}
	  </td>
	  <td class="align-center" title="{{ menu.description|safe }}">{{ menu.name }}*</td>
	  <td class="align-center">{{ menu.price }}</td>
	</tr>
	{% empty %}
	<tr><td>{% trans 'Sorry no special menus for today.' %}</td></tr>
	{% endfor %}
      </tbody>
    </table>
  </div> <!-- establishment_list -->
  <p>* {% trans 'Hover the mouse over it to get a more detailed description.' %}</p>
  <div class="clear"></div>
</div><!-- content_area -->
{% endblock %}
