{% load i18n cache %}

{% if motd %}
<div class="meniulzilei">
	{% trans 'Menu of the day' %}
</div>
<div id="continutmeniu">
  {#{motd.description|safe}#}
  <span class="restaurant">{{motd.unit}}</span>
  <br/>
 {{motd.name}}
</div>
<div id="pret">
  {{motd.get_price}}{% trans 'RON' %}
</div>
{% if user.is_authenticated %}
<div id="comanda">
  <a id="motd-add-link" redir="{% url restaurant:detail motd.unit_id %}" href="{% url order:add_motd motd.id user.username %}" title="">{% trans 'Order this menu' %}</a>
</div>
{% endif %}
{% else %}
<div class="meniulzilei">
  {% trans 'No menu of the day defined' %}!
</div>
{% endif %}
<div id="variantemeniu">
  {% trans 'Menu of the day alternatives' %}<br/>
  <span class="nrmeniu">
    {% for m in motds %}
    <a class="motdlinks {% if m.id == motd.id %}meniuselectat{% endif %}" href="{% url menu:daily_menu m.id %}" title="">{{ forloop.counter }}</a>
    {% endfor %}
  </span>
</div>
<div id="newsletter">
  {% trans 'SUBSCRIBE HERE' %}<br/>
  <span class="textmic">{% trans 'FOR THE MENU OF THE DAY NEWSLETTER' %}</span><br/>
  <form target="_self" action="">
    <input type="text" id="email" name="email"  />
    <input type="image" id="newslettersubmit"  src="{{ STATIC_URL }}images/template/gonews.png"/>
  </form>
</div>
<div class="recomandat"></div>

<script type="text/javascript">
  $(function(){
      $(".motdlinks").click(function(e){
	  $("#tabla").load($(this).attr("href"));
	  e.preventDefault();
      });
      $("#motd-add-link").click(function(e){
	  var redir =  $(this).attr("redir");
	  $.get($(this).attr("href"), function(){
              window.location = redir;
	  });
	  e.preventDefault();
      });
  });
</script>
