{% load i18n cache %}

{% if motd %}
<div class="meniulzilei">
	{% trans 'Menu of the day' %}
</div>
<div id="continutmeniu">
  <span class="restaurant">{{motd.unit}}</span>
 {{motd.name}}
 <br/>
 {{motd.description|safe}}
</div>
<div id="pret">
  {{motd.price|floatformat:2}}{% trans 'RON' %}
</div>
{% if user.is_authenticated %}
<div id="comanda">
<a id="motd-add-link" redir="{% url restaurant:detail motd.unit_id %}" href="/order/shop/{{ motd.unit_id }}/{{ user.username }}/{{ uid }}!{{motd.get_id }}-0" title="">{% trans 'Order this menu' %}</a>
</div>
{% endif %}
{% else %}
<div class="meniulzilei">
  {% trans 'No menu of the day defined' %}!
</div>
{% endif %}
<div id="variantemeniu">
  {% trans 'Menu of the day alternatives' %}<br/>
  <span class="nrmeniu">
    {% for m in motds %}
    <a class="motdlinks {% if m.id == motd.id %}meniuselectat{% endif %}" href="{% url menu:daily_menu m.id %}" title="">{{ forloop.counter }}</a>
    {% endfor %}
  </span>
</div>
<div id="newsletter">
  <a href="{% url newsletter_subscribe_request 'meniul-zilei' %}">{% trans 'SUBSCRIBE HERE' %}</a><br/>
  <span class="textmic">{% trans 'FOR THE MENU OF THE DAY NEWSLETTER' %}</span><br/>  
</div>
<div class="recomandat"></div>

<script type="text/javascript">
  $(function(){
    $(".motdlinks").click(function(){
      $("#tabla").load($(this).attr("href"));
      return false;
    });
    $("#motd-add-link").click(function(){
      var redir =  $(this).attr("redir");
      $.get($(this).attr("href"), function(){
            window.location = redir;
      });
      return false;
    });    
  });
</script>
