{% extends "base.html" %}
{% load i18n %}

{% block scripts %}
<script type="text/javascript">
  $(function(){
    $(".item-add-link").click(function(e){
       var redir =  $(this).attr("redir");
       $.get($(this).attr("href"), function(){
         window.location = redir;
       });
       e.preventDefault();
    });
    $("#show-advanced").click(function(e){
       $("#advanced-search").toggle();
       e.preventDefault();
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="content_area">
<div class="title"><h1 class="light_green">{% trans 'Search' %}</h1></div>
<form action="" method="get">
  <p><label for="id_q">Search:</label> <input type="text" name="q" id="id_q" value="{{ query }}" />
    <br>
    <a id="show-advanced" href="#">{% trans 'Show/Hide advanced search' %}</a>

    <div id="advanced-search" style="display:none;">
      {{ filter.form.as_p }}
    </div>
  <input  class="form_button" type="submit" type="{% trans 'Submit' %}" />
</form>
<hr>

{% for obj in filter %}
<a redir="{% url restaurant:detail obj.unit_id %}" class="item-add-link" href="{% url order:add_item obj.id user.username %}">{{ obj.unit }} {{ obj.name_def }}</a> - ${{ obj.price }} ({{ obj.quantity }}{{obj.get_measurement_unit_display}})<br />
{% endfor %}
</div> <!-- content_area -->
{% endblock %}
