{% extends "base.html" %}
{% load i18n %}

{% block scripts %}
<script type="text/javascript">
  $(function(){
    $(".item-add-link").click(function(e){
       var redir =  $(this).attr("redir");
       $.get($(this).attr("href"), function(){
         window.location = redir;
       });
       e.preventDefault();
    });
    $("#show-advanced").click(function(e){
       $("#advanced-search").toggle();
       e.preventDefault();
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="content_area">
  <div id="paginarestaurant">
  <div class="title"><h1 class="light_green">{% trans 'Search' %}</h1></div>
  <form action="" method="get" id="searchbox">
    <p><label for="id_q">Search:</label> <input type="text" name="q" id="id_q" value="{{ query }}" />
    <br>
    <a id="show-advanced" href="#">{% trans 'Show/Hide advanced search' %}</a>
    
    <div id="advanced-search" style="display:none;">
      {{ filter.form.as_p }}
    </div>
    <input  class="form_button" type="submit" type="{% trans 'Submit' %}" />
  </form>
  <hr>



  
           <ul>   

	{% for obj in filter %}
  <li class=" item pozrel">
    <div class="name">{{ obj.name_def }}</div>
    <br/>
    <div class="description">{{ obj.description_def }}</div>
    <div class="price">
      {{ obj.get_price }} {% trans 'lei' %}
        {% if user.is_authenticated %}
      <a redir="{% url restaurant:detail obj.unit_id %}" class="item-add-link {{ obj.unit.get_package.get_class|default:"silver" }}" href="{% url order:add_item obj.id user.username %}" id="{{ obj.id }}" title="" class="btncomanda comanda">{% trans 'Adauga la comanda'%}</a>
      {% endif %}
    </div>
    <div class="clear"></div>
  </li>
  <div class="clear"></div>
	{% endfor %}
	   </ul>
  </div> <!-- establishment_list -->
</div> <!-- content_area -->
{% endblock %}


          <!--td><a class="{{ obj.unit.get_package.get_class|default:"silver" }}" href="{% url restaurant:detail obj.unit.id %}">{{ obj.unit }}</a></td>	  
	  <td class="align-center">
	    {% if not obj.unit.schedule.is_open %}<img src="{{ MEDIA_URL }}images/template/icons/lock_icon.png" alt="{% trans 'Closed' %}" title="{% trans 'Closed' %}">{% endif %}
	    {% if obj.unit.is_new %}<img src="{{ MEDIA_URL }}images/template/icons/star_icon.png" alt="{% trans 'New' %}" title="{% trans 'New' %}">{% endif %}
	    {% if obj.promotion and obj.promotion.is_active %}<img src="{{ MEDIA_URL }}images/template/icons/money_icon.png" alt="{% trans 'Has discount' %}" title="{% trans 'Has discount' %}">{% endif %}
	  </td>
	  <td>
	    {% if user.is_authenticated %}
	    <a redir="{% url restaurant:detail obj.unit_id %}" class="item-add-link {{ obj.unit.get_package.get_class|default:"silver" }}" href="{% url order:add_item obj.id user.username %}">{{ obj.name_def }}</a>
	    {% else %}
	    <a  class="{{ obj.unit.get_package.get_class|default:"silver" }}" href="{% url restaurant:detail obj.unit.id %}">{{ obj.name_def }}</a>
	    {% endif %}
	  </td>
	  <td class="align-center">${{ obj.price }} ({{ obj.quantity }}{{obj.get_measurement_unit_display}})</td-->
