 {% extends "base.html" %}

{% load i18n %}

{% block content %}
   <!-- pagina de meniu lista generala, headerul cu platourile il gasesti in pagina "cum comand" e acelasi, doar la imagini schimbi dimensiunea -->
<div class="content_area"> 
  <div id="paginarestaurant">  
    <div class="title"><h1 class="light_orange">{% trans 'LISTA GENERALA MENIURI CLICK2EAT' %}</h1></div>
    <div class="lista">
      {% for tag in tags %}
      <div class="item pozrel">
        <div class="book">
          <a href="#" title="">
            <span class="heading">{{tag|upper}}</span>
            <img src="{{ MEDIA_URL }}images/template/booksoup.png" />
          </a>
        </div>
        <div class="name"><a class="add-item" href="{% url menu:item_tag_list tag %}" id="7">Meniuri {{tag}}</a></div>
        <div class="description2">Supe crema<br/>Supe vegetariene<br/>Supe cu carne</div>
        <div class="click2eat">
          <span class="recom">Recomandari supe si ciorbe</span>
          <div class="restaurante">
            RESTAURANT <strong>PRESIDENT</strong><br/>
            RESTAURANT <strong>ALEXANDRE</strong>
          </div>
	</div>
        <div class="clear"></div>
      </div>  
      {% endfor %}
    </div><!-- lista-->
  </div><!-- paginarestaurant -->
  <br/><br/>
</div><!-- content_area -->
{% endblock %}
<!--
        <div class="item pozrel">
        	<div class="book">
            	<a href="#" title="">
                	<span class="heading">PIZZA</span>
                	<img src="{{ MEDIA_URL }}images/template/bookpizza.png" />
                </a>
            </div>
            <div class="name"><a class="add-item" href="#" id="8">Meniuri Pizza</a></div>
            <div class="description2">Pizza vegetariana<br/>Pizza normala<br/>Pizza picanta</div>
          	<div class="click2eat">
            	<span class="recom">Recomandari pizza</span>
            <div class="restaurante">
            	RESTAURANT <strong>PRESIDENT</strong><br/>
                RESTAURANT <strong>ALEXANDRE</strong>
            </div>
            </div>
           <div class="clear"></div>
        </div>
        <div class="item pozrel">
        	<div class="book">
            	<a href="#" title="">
                	<span class="heading">PASTE</span>
                	<img src="{{ MEDIA_URL }}images/template/bookpasta.png" />
                </a>
            </div>
            <div class="name"><a class="add-item" href="#" id="7">Meniuri paste</a></div>
            <div class="description2">Spaghetti<br/> Penne Tortellini<br/> Lasagna <br/>Paste speciale</div>
          	<div class="click2eat">
            	<span class="recom">Recomandari supe si ciorbe</span>
            <div class="restaurante">
            	RESTAURANT <strong>PRESIDENT</strong><br/>
                RESTAURANT <strong>ALEXANDRE</strong>
            </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="item pozrel">
        	<div class="book">
            	<a href="#" title="">
                	<span class="heading">SALATE</span>
                	<img src="{{ MEDIA_URL }}images/template/booksalad.png" />
                </a>
            </div>
            <div class="name"><a class="add-item" href="#" id="7">Meniuri salate</a></div>
            <div class="description2">Supe crema<br/>Supe vegetariene<br/>Supe cu carne</div>
          	<div class="click2eat">
            	<span class="recom">Recomandari supe si ciorbe</span>
            <div class="restaurante">
            	RESTAURANT <strong>PRESIDENT</strong><br/>
                RESTAURANT <strong>ALEXANDRE</strong>
            </div>
            </div>
            <div class="clear"></div>
        </div>      
        <div class="item pozrel">
        	<div class="book">
            	<a href="#" title="">
                	<span class="heading">PRINCIPAL</span>
                	<img src="{{ MEDIA_URL }}images/template/bookmain.png" />
                </a>
            </div>
            <div class="name"><a class="add-item" href="#" id="7">Meniuri principal</a></div>
            <div class="description2">Supe crema<br/>Supe vegetariene<br/>Supe cu carne</div>
          	<div class="click2eat">
            	<span class="recom">Recomandari supe si ciorbe</span>
            <div class="restaurante">
            	RESTAURANT <strong>PRESIDENT</strong><br/>
                RESTAURANT <strong>ALEXANDRE</strong>
            </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="item pozrel">
        	<div class="book">
            	<a href="#" title="">
                	<span class="heading">DESERT</span>
                	<img src="{{ MEDIA_URL }}images/template/bookdesert.png" />
                </a>
            </div>
            <div class="name"><a class="add-item" href="#" id="7">Desert</a></div>
            <div class="description2">Fel principal pe baza de legume ( fara carne)<br/>Preparate cu pui<br/>Preparate cu carne de peste<br/>Peparate cu carne de vita<br/>Preparate cu carne de porc<br/>Preparate cu carne vanat<br/>Specialiati culinare</div>
          	<div class="click2eat">
            	<span class="recom">Recomandari supe si ciorbe</span>
            <div class="restaurante">
            	RESTAURANT <strong>PRESIDENT</strong><br/>
                RESTAURANT <strong>ALEXANDRE</strong>
            </div>
            </div>
            <div class="clear"></div>
        </div>          
-->
