{% load i18n %}
<script type="text/javascript">
$(function(){
  $("#cart-name-form").submit(function(){
    var $action = $("#cart-name-form").attr("action");
    $.post($action,
    { csrfmiddlewaretoken:  $("input:first").val(),
      name:                   $("#id_name").val(),
    },function(data){
      $("#new-cart").replaceWith(data);
    });
    return false;
    });
});

</script>
<div class="cart" id="new-cart">
  <form id="cart-name-form" method="post" action="{% url order:add_cart object.id %}">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="{% trans 'Submit' %}" />
 </form>
</div>