{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% trans 'Hello' %} {{ order.user.get_full_name }},

{% blocktrans %}
Your order with id {{ order.id}} was received and will be processed as soon as possible. The usual waiting time is {{ order.unit.delivery_time }} minutes.
{% endblocktrans %}

{% trans 'Thank you for your order' %}!
{{ order.unit.name}}
P.S. {% trans 'You can send a rating for our services'  %} <a href="http://{{ site_name }}{% url order:feedback order.id %}">{% trans 'here' %}</a>.
{% block content %}