{% load i18n %}
{% load pagination_tags %}

<script type="text/javascript">
    $(function(){
	$(".hide-link").click(function(e){
	    row = $(this).parents("tr");
	    $.get($(this).attr("href"), function(data) {
		if(data.order_id != -1) {
		    row.fadeOut();
		}
	    });
	    e.preventDefault();
	});
    });
</script>
    

<div class="content_area">
  {% if object_list and object_list.exists %}
  {% autopaginate object_list 10 %}     
  <br>
  <div id="account_details">
    <div class="separatie"></div>
    <span class="subtitlu">
    {% trans 'My orders' %}
    </span>
    {% for order in object_list %}
    <div class="boxroz">
      <span class="data">{{ order.date }}</span><strong><span class="pret">24 {% trans 'RON' %}</span></strong><span class="detalii">
	{% if order.status == 'CR' %}
	<a href="{% url restaurant:detail order.unit.id %}">{{order}} {% if LANGUAGE_CODE == 'ro' %}acum{% endif %} {{ order.creation_date|timesince }} {% if LANGUAGE_CODE == 'en' %}ago{% endif %}</a>
	{% else %}
	<a href="{% url order:detail order.id %}">{{order}} {% if LANGUAGE_CODE == 'ro' %}acum{% endif %} {{ order.creation_date|timesince }} {% if LANGUAGE_CODE == 'en' %}ago{% endif %}</a>
	{% endif %}
      </span>
      <span class="restaurant">{{ order.unit }}</span>
      
      <a target="_self" class="right" href="{% url order:clone order.id %}">{% trans 'Order again' %}</a>&nbsp;<a class="hide-link right" href="{% url order:hide order.id %}">{% trans 'Hide' %}</a>
    </div>
    {% empty %}
    <div class="boxroz">{% trans 'No orders yet? Bon apetit ;)' %}</div>	    
    {% endfor %}
      {% paginate %}
    <div class="separatie"></div>
  </div>
  {% endif %}
</div>
