{% load i18n %}

<h1>{% trans 'Order details' %}</h1>
<ul>
<li>{% trans 'Unit' %}: {{ order.unit }}</li>
<li>{% trans 'Creation date' %}: {{ order.creation_date }}</li>
<li>{% trans 'Status' %}: {{ order.get_status_display }}</li>
<li>{% trans 'Total amount' %}: {{ order.total_amount }}</li>
</ul>

<script type="text/javascript">
$(function(){
  $(".remove-orderitem").click(function(e){
    $.get($(this).attr("href"));
    $(this).parent().fadeOut();
    $("#order-total-amount").load("{% url order:get_total_amount order.unit.id %}");
    e.preventDefault();
  });
})
</script>

<div id="order-items">
<h2>{% trans 'Order Items' %}</h2>
<ul>
{% for cart, oil in order.get_carts.items %}
<h3>{{ cart }}</h3>
 {% for oi in oil %}
    <li>{{ oi }} {% if order.status == 'CR' %}<a class="remove-orderitem" href="{% url order:remove_item oi.id %}">{% trans 'Remove' %}</a>{% endif %}</li>
 {% empty %}
    <li>{% trans 'There are no order items for' %} {{cart}}</li>
 {% endfor %}
{% endfor %}
</ul>
</div>

<h4>{% trans 'Total ammount' %}: <span id="order-total-amount">{{ order.total_amount }}</span></h4>
