{% load i18n %}
{% load order_tags %}

<script type="text/javascript">
    $(function() {
        $(".remove-orderitem").click(function(e) {
            var row = $(this).parents("tr");
            var table = $(this).parents("table");
            $.get($(this).attr("href"), function(resp) {
                if (resp == "nook") {
                    row.fadeOut();
                    if (typeof getAvailableToppings == 'function') {
                        /* check if function is defined in this context*/
                        getAvailableToppings();
                    }
                } else {
                    $(".count", row).text(resp);
                }
                $("#order-total-amount").load("{% url order:get_total_amount order.id %}");
                $(".cart-subtotal", table).load($(".cart-subtotal", table).attr("href"));
            });
            e.preventDefault();
        });
    $(".add-item").click(function(e){
    row = $(this).parents("tr");
    table = $(this).parents("table");
    count = $("td.count", row);
    count.text(parseInt(count.text())+1);
    $.get($(this).attr("href"), function(data){
    $("#order-total-amount").load("{% url order:get_total_amount order.id %}");
    $(".cart-subtotal", table).load($(".cart-subtotal", table).attr("href"));
    });
    e.preventDefault();
    });
    })
</script>

<div class="content_area">
    <div class="title"><h1 class="light_green">{% trans 'Order details' %}</h1></div>
    <ul>
        <li>{% trans 'Unit' %}: <a href="{% url restaurant:detail order.unit.id %}">{{ order.unit }}</a></li>
	<li><strong>{% trans 'Open hours' %}:</strong> {{ order.unit.schedule }}, {% trans 'Open' %}: {{ order.unit.schedule.is_open|yesno }}</li>
        <li>{% trans 'Creation date' %}: {{ order.creation_date }}</li>
        <li>{% trans 'Status' %}: {{ order.get_status_display }}</li>
    </ul>
</div> <!-- content_area -->

<div class="content_area">
    <div class="title"><h1 class="light_orange">{% trans 'Order Items' %}</h1></div>
    <div id="cart">
        <h1>{% trans 'Cart items' %}</h1>
        {% for cartname, oil in order.get_carts.items %}
            <table>
                <tr>
                    <th>{{ cartname }}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="del">{% if order.status == 'CR' %}<a href="#" title="" target="_self"><img
                            src="{{ MEDIA_URL }}images/template/cart_delete_btn.png" alt="{% trans 'Delete cart' %}">
                        </a>{% endif %}</th>
                </tr>
                {% for oi in oil %}
                    <tr>
                        <td class="item">{{ oi.item.name_def }}</td>
                        <td class="count">{{ oi.count }}</td>
                        <td class="price">{{ oi.old_price }} RON</td>
                        <td class="minus">
                            {% if order.status == 'CR' %}
                                <a class="remove-orderitem" href="{% url order:remove_item oi.id %}" title=""
                                   target="_self">
                                    <img alt="-" src="{{ MEDIA_URL}}images/template/cart_minus_btn.png">
                                </a>
                            {% endif %}
                        </td>
                        <td class="plus">
                            {% if order.status == 'CR' %}
                                <a class="add-item" href="{% url order:add_item oi.item.id cartname %}">
                                    <img alt="+" src="{{ MEDIA_URL}}images/template/cart_plus_btn.png">
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>{% trans 'There are no order items for' %} {{ cartname }}</tr>
                {% endfor %}
                <tr class="total">
                    <td></td>
                    <td>{% trans 'Subtotal' %}</td>
                    <td><span class="cart-subtotal"
                              href="{% url order:get_subtotal order.unit.id cartname %}">{% get_cart_subtotal %}<span> RON
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            {% cycle '' '' '<div class="clear"></div>' %}
        {% endfor %}
        {% if forloop.counter < 3 %}
            <div class="clear"></div>
        {% endif %}
        <div class="total_price">{% trans 'Total amount' %} <span
                id="order-total-amount">{{ order.total_amount }}</span> RON
        </div>
    </div> <!-- cart -->
</div> <!-- content_area -->
