{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Order: ' %}{{ order }}{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(function(){
  $("#deliver-link").click(function(e){
    $.get($(this).attr("href"), function(data){
      $("#deliver-response").text(data);
    });
    e.preventDefault();
  });
});
</script>
{% endblock %}

{% block content %}
{% load order_tags %}

<h1>{% trans 'Order details' %}</h1>
<ul>
<li>{% trans 'User' %}: {{ user.get_full_name }}</li>
<li>{% trans 'Phone' %}: {{ user.get_profile.phone }}</li>
<li>{% trans 'Address' %}: {{ order.address }}</li>
<li>{% trans 'Creation date' %}: {{ order.creation_date }}</li>
<li>{% trans 'Status' %}: {{ order.get_status_display }}</li>
<li>{% trans 'Total amount' %}: {{ order.total_amount }}</li>
</ul>


<div id="order-items">
<ol>
  {% for oi in order.orderitem_set.iterator %}
  <li>{{ oi }}</li>
  {% endfor %}
</ol>
</div>
{% if order.status == 'RV' %}
<h1 id="deliver-response"><a id="deliver-link" href="{% url order:restaurant_deliver order.id %}">{% trans 'Mark delivered' %}</a></h1>
<a href="{% url order:restaurant_list order.unit.id %}">{% trans 'Back' %}</a>
{% endif %}
{% endblock %}