{% load i18n %}
<div class="content_area">
  <div class="title"><h1 class="light_green">{% trans 'Current orders' %}</h1></div>
  <br>
  <div id="order_history">
    <table>
      <tbody>
	    {% for order in order_list %}
	    <tr class="{% cycle 'odd' 'even' %}">
	      <td class="item"><a class="order-link" target="_self" href="{% url order:restaurant_detail order.id %}">{{order.user.get_full_name }}</a></td>
	      <td>{{order.creation_date|timesince}}</td>
	    </tr>
	    {% endfor %}
      </tbody>
    </table>
  </div>
</div>
