
{% load i18n %}
<script type="text/javascript">
$(function(){
  $("#deliver-link").click(function(e){
    $.get($(this).attr("href"), function(data){
      $("#action-response").text(data);
      $("#action-response").show();
    });
    e.preventDefault();
  });
  $("#confirm-link").click(function(e){
    $.get($(this).attr("href"), function(data){
      $("#action-response").text(data);
      $("#action-response").show();
    });
    e.preventDefault();
  });
});
</script>

<div class="content_area">
  <div class="title"><h1 class="light_orange">{% trans 'Order details' %} id: {{ order.id }}</h1></div>
  <br>
  <div class="details">
    <strong>{% trans 'User' %}:</strong> {{ user.get_full_name }}<br>
    <strong>{% trans 'Phone' %}:</strong> {{ user.get_profile.phone }}<br>
    <strong>{% trans 'Address' %}:</strong> {{ order.address }}<br>
    {% if order.address.additional_info %}<strong>{% trans 'Address additional info' %}:</strong> {{ order.address.additional_info }}<br>{% endif %}
    <strong>{% trans 'Creation date' %}:</strong> {{ order.creation_date }}<br>
    <strong>{% trans 'Status' %}:</strong> {{ order.get_status_display }}<br>
    <strong>{% trans 'Order price' %}:</strong> {{ order.total_amount }}<br>
  </div>
  
  
  <div id="order-items">
    <ol>
      {% for oi in order.orderitem_set.iterator %}
      <li>{{ oi }} x {{ oi.count }}</li>
      {% endfor %}
    </ol>    
    <strong>{% trans 'Additional info' %}:</strong>
    <p>{{ order.additional_info }}</p>
  </div>
  {% if order.status == 'RV' %}
  <div class="dual_button">
    <div class="left">
      <a id="confirm-link" href="{% url order:restaurant_confirm order.id %}">{% trans 'Send confirmation email' %}</a>
    </div>
    <div class="right">
      <a id="deliver-link" href="{% url order:restaurant_deliver order.id %}">{% trans 'Mark delivered' %}</a>
    </div>
  </div>
  <div class="clear"></div>
  <div id="action-response" class="success" style="display:none"></div>
  {% endif %}
</div><!-- content_area -->
