{% extends "base.html" %}
{% load i18n %}
{% load uni_form_tags %}

{% block style %}
<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni-form.css" type="text/css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/default.uni-form.css" type="text/css" />
{% endblock %}
{% block scripts %}
<script src="{{ MEDIA_URL }}uni_form/uni-form.jquery.js" type="text/javascript"></script>
{% endblock %}

{% block title %}{% trans 'Order' %}: {{ order }}{% endblock %}

{% block content %}
<h1>{% trans 'Are you ready to send the order?' %}</h1>
{% include 'order/order_div.html' %}

<p>{% trans "If you don't have aa deliuvery address" %}: <a href="{% url userprofiles:create_address %}" target="_blank">{% trans 'Add one now' %}</a></p>
<form method="POST" action="" class="uniForm">{% csrf_token %}
    {{ form|as_uni_form }}
    <input type="submit" value="{% trans 'Yes, send the order' %}" />
</form>
{% endblock %}
