{% load i18n l10n order_tags %}

<div id="carts">
    {% for cn, items in oc.get_carts.iteritems %}
        <a href="#" class="{% if forloop.counter == 1 %}selected-cart{% endif %} cart-name">{{ cn|clean_cn }}{{ get_cart_total}}</a>
        <ul class="items">
            {% for item in items %}
                <li class="cart-item" itemid="{{ item.get_item_id }}">
                    <span class="item-count">{{ item.get_count }}</span>
                    <span class="item-price">{{ item.get_price|unlocalize }}</span>
                    <span class="item-title">x {{ item.get_name|truncatewords:3 }}</span>
                    <a class="decr-link" href="#"></a>
                    {% show_incr_link %}
                    <span class="item-currency">{% trans 'RON' %}</span>
                    <span class="item-total">{{ item.get_total }}</span>
                </li>
            {% endfor %}
        </ul>
        <div class="subtotal-div">
            {% trans 'Subtotal' %}: <span class="cart-subtotal">{% get_cart_total %}</span> {% trans 'RON' %}
        </div>
    {% endfor %}
</div>
<div class="nota">
    {% if we_are_are_in_cart %}
    <div id="new-cart-placeholder"></div>
    <a href="#" id="add-cart"><img height="16px" src="{{ STATIC_URL }}images/new-cart.png" alt="">{% trans 'Add shopping cart' %}</a>
    <a href="#" id="clear-order"><img height="16px" src="{{ STATIC_URL }}images/reset.png" alt="">{% trans 'Reset order' %}</a>
    {% endif %}
    <br/>
    _________________________
    <br/>

    <div class="textnota">NOTA DE PLATĂ:</div>
  <span class="totalnota">
    <span id="order-total">{{ oc.get_total_sum|unlocalize }}</span> {% trans 'RON' %}
  </span>
    {% if oc.is_below_minimum %}
    <div id="min-span">({% trans 'Minimum order: ' %}<span
            id="min-order">{{ oc.get_unit.minimum_ord_val }}</span>{% trans 'RON' %}.)
    </div>
    {% endif %}
    <div class="clear"></div>
    {% if we_are_are_in_cart %}
    <a class="button positive" href="{% url order:confirm-order oc.get_unit.id %}">CONFIRMA COMANDA</a>
    {% endif %}
</div>

