server {
        listen          80;
        server_name     $hostname;
        location ~* /static/ {
           root /home/www-data/bucatar/;
        }

	location /sentry {		
 		rewrite /sentry/(.*) /$1 break;
	  	proxy_pass http://localhost:9000;
		include         proxy_params;
	}

        location / {
                uwsgi_pass      unix:///var/run/uwsgi/app/bucatar/socket;
                include         uwsgi_params;
                uwsgi_param     UWSGI_SCHEME $scheme;
                uwsgi_param     SERVER_SOFTWARE    nginx/$nginx_version;
        }
}

server {
        listen          443;
        server_name     $hostname;
        ssl                     on;
        ssl_certificate         /etc/nginx/ssl/bucatar.crt;
        ssl_certificate_key     /etc/nginx/ssl/bucatar.key;
        location / {
                uwsgi_pass      127.0.0.1:9001;
                include         uwsgi_params;
                uwsgi_param     UWSGI_SCHEME $scheme;
                uwsgi_param     SERVER_SOFTWARE    nginx/$nginx_version;
        }
       	error_page 500 502 503 504 /500.html;
      	location = /500.html {
           root /home/www-data/bucatar/templates/;
      	}
}
