{% extends "base.html" %}
{% load i18n pagination_tags uni_form_tags %}

{% block style %}
<link rel="stylesheet" href="{{ STATIC_URL }}uni_form/uni-form.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}uni_form/default.uni-form.css" type="text/css" />
{% endblock %}

{% block content %}
{% autopaginate sessions %} <h1>Sessions</h1>
<form method="POST" action="" class="uniForm">
	{% csrf_token %}
	{{ form|as_uni_form }}	
</form>
<ul>
	{% for s in sessions %}
	<li>
		<span class="key">{{ s.key }}</span>: {{ s.user.username }} ({{s.user.get_full_name}})
	</li>
	{% endfor %}
</ul>
{% paginate %}
{% endblock %}